/* Recreating Tailwind's preflight 'resets' 
 * Resets & element defaults
*/

:root {
  tab-size: 4;
  color-scheme: light dark;
}
html {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, :host {
  line-height: var(--line-height-default);
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-default);
  line-height: inherit;
  color: var(--text);
}

/* Box-sizing & border reset */
*, ::before, ::after, ::backdrop, ::file-selector-button {
  box-sizing: border-box; /* Padding/borders included in width calculations */
  padding: 0;
  margin: 0;
  border: 0 solid var(--border-color, #e5e7eb);
}

/* Headings unstyled */
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Tailwind-like media defaults */
img,svg,video,canvas,audio,iframe,embed,object {
  display: block;
  vertical-align: middle;
}
img,video {
  max-width: 100%;
  height: auto;
}

/* Normalization resets to mimic Tailwind a bit */
button,
[type="button"],
[type="submit"],
[type="reset"] {
  padding: 0;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  box-shadow: none;
}
label[for],
input[type="radio"],
input[type="checkbox"],
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

/* ...but retain our <select> default styling/"box" */
select {
  font: inherit;
  color: inherit;
}

/* Unstyled lists by default */
ol,ul,menu {
  list-style: none;
}

/* Form typography inheritance */
button, input, select, optgroup, textarea, ::file-selector-button {
  font: inherit; font-variation-settings: inherit; font-feature-settings: inherit; letter-spacing: inherit;
}
::placeholder, .placeholder-text {
    color: var(--text-muted);
}
a {
  color: inherit;
  text-decoration: none;
}

/* Making hidden actually mean hidden */
[hidden] {
    display: none !important;
}