/* ==== Components ====
    Reusable UI blocks (buttons, cards, tables)
*/


/* =========================================
   Base button shapes/ergonomics
   ========================================= */

.btn {
    display: inline-flex;       /* icons+text align */
    gap: var(--gap-sm);
    align-items: center;        /* for icon+label vertical centering? */
    justify-content: center;    /* center text when full width */
    padding: var(--space-sm) var(--space-md);
    user-select: none;
    border: var(--border-default);
    border-radius: var(--border-radius);
}
.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-size-md);
    height: var(--btn-size-md);
    padding: 0;
}

/* =========================================
   Shared button states
   ========================================= */

/* TODO: Focus ring: visual feedback for keyboard users */
.btn:focus-visible,
.btn-icon:focus-visible {
    outline: var(--focus-ring);
    outline-offset: var(--focus-offset);
}

/* Catch native + ARIA-disabled buttons */
.btn[disabled],
.btn-icon[disabled],
.btn[aria-disabled="true"],
.btn-icon[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Pressed effect (only for text buttons & tabbed modal tabs) */
.btn:active {
    filter: brightness(0.9);
    transform: translateY(1px);
}

/* Hover states (skip on touchscreen) */
@media (hover: hover) {
    .btn-primary:hover {
        background-color: var(--accent-hover);
    }
    .btn-secondary:hover {
        background-color: var(--bg-hover);
    }
    .btn-destructive:hover {
        color: var(--bg-light);
        background-color: var(--text-destructive);
    }
}

/* =========================================
   Intent variants
   ========================================= */
.btn-primary {
    background-color: var(--accent-subtle);
}
.btn-secondary {
    background-color: var(--bg-light);
}
.btn-destructive {
    color: var(--text-destructive);
    border-color: var(--text-destructive);
}

/* =========================================
   Form factor modifiers
   ========================================= */

/* Icon sizing (proportional: always 50% of buttons) */
.btn-icon svg {
    width: calc(var(--btn-size-md) * var(--icon-scale));
    height: calc(var(--btn-size-md) * var(--icon-scale));
    pointer-events: none;
}
.btn-round {
    border-radius: 50%;
}
.btn-square {
    border-radius: var(--border-radius);
}

/* =========================================
   Size modifiers
   ========================================= */

.btn-lg {
    width: var(--btn-size-lg);
    height: var(--btn-size-lg);
}
.btn-lg svg {
    width: calc(var(--btn-size-lg) * var(--icon-scale));
    height: calc(var(--btn-size-lg) * var(--icon-scale));
}


.profile-modal[open] {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}
dialog {
  width: clamp(20rem, 90vw, 30rem);
  max-height: 90vh;
  padding: var(--space-xl);
  background-color: var(--bg);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 20px rgb(0 0 0 / 30%);
}
.form-modal {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
dialog[open] {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}
dialog[open] .modal-header {
    border-bottom: 2px solid var(--border-color);
}
dialog[open] .modal-body {
    flex: 1;
    min-height: 0;
    padding: var(--space-xs);
    overflow-y: auto;
}
dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(8px);
}

/* Modal X button styling */
.modal-close {
    position: absolute;
    inset: 1rem 1rem auto auto;
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--font-size-xl);
    color: var(--text-muted);
    background: transparent;
    border: none;
}
.modal-close:hover {
    color: var(--text-destructive);
}

/* Confirmation modal variant's content */
#confirmation-modal[open] {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
  inset: 0;
}
.confirmation-content {
  text-align: center;
}
.confirmation-message {
    padding: var(--space-sm);
}
.confirmation-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-md);
}


.tooltip { 
    position: relative; /* positioning context for ::after */
    max-width: 28ch;
    padding: 4px;
    margin-top: 8px;
    color: var(--bg); /* then use current bg as text for color parity */
    overflow-wrap: break-word;
    pointer-events: none;
    background-color: color-mix(in srgb, var(--text) 90%, transparent); /* steal other theme's TEXT color - should be appropriate */
    border: var(--border-default);
    border-radius: var(--border-radius);
}
.tooltip:not(#no-after)::after {
    position: absolute;
    top: -0.4rem;
    left: var(--caret-pos, 50%); /* --caret-pos calculated via JS */
    content: "";
    border: 0.4rem solid transparent; /* forms our triangle "arrow" */
    border-bottom-color: color-mix(in srgb, var(--text) 90%, transparent);
    opacity: 1;
    transform: translate(-50%, -40%);
}

/* Card itself: border-radius, shadow, card bg, internal padding, & verical spacing between its children */
.card-dashboard {
    position: relative; /* positioning context for .card-title */
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-self: stretch;
    padding: var(--space-xl) var(--space-lg) var(--space-lg);
    background-color: var(--bg);
    border: var(--border-default);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
}

/* =========================================
   Forms & Form Groups/Groupings
   ========================================= */

form :is(input, select, textarea).invalid {
    border: 2px solid var(--clr-error);
}

/* Applied to form elements themselves - for spacing between div(label+input) groups */
.form-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
}

/* Target divs at any depth which themselves directly contain a label 
    For label+input groupings */
.form-column div:has(> label) {
    display: grid;
    align-items: center;
}

/* CTA + maybe secondary button(s) */
.form-actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    align-self: start;
    justify-content: center;
    width: clamp(5rem, 60vw, 15rem);
}
.form-actions > * {
    flex: 1; /* size each button equally */
}

/* Two fields side-by-side (equal or weighted split) */
.field-pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-sm);
}
.field-pair--weighted {
    grid-template-columns: 7fr 3fr;
}

.radio-fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
    justify-content: center;
}
.radio-fieldset > div {
    place-items: center;
    border-radius: var(--border-radius);
}

/* =========================================
   Inputs
   ========================================= */

input, select, textarea {
    padding: var(--space-sm) 0.75rem;
    color: var(--text);
    accent-color: var(--accent-subtle);
    background-color: var(--bg-light);
    border: var(--border-default);
    border-radius: var(--border-radius);
}
input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover {
    cursor: not-allowed;
}
input:not([type="checkbox"], [type="radio"]) {
    width: 100%;
}
:where(input, select, textarea):focus-visible {
    outline: var(--focus-ring);
    outline-offset: var(--focus-offset);
}

/* TODO: Tune this a bit for table cells */
.input-inline {
    padding-block: var(--space-xs); /* top+bottom Slightly tighter */
    font-size: var(--font-size-sm);
    border: none;
    border-bottom: var(--border-default);
}


/* =========================================
   Tables
   ========================================= */

/* Needed higher specificity here to override so delete-cell properly blends in to card */

/* TODO: BUG: Fix this & sort out why table-cell class is required for delete-btn's to style properly */
.table-cell.delete-cell {
    width: 0; /* prevent us from consuming extra table width */
    padding: 0;
    background-color: var(--bg);
    border: none;
}

.table-empty {
    padding: var(--space-sm) 0;
    font-style: italic;
    color: var(--text-muted);
    text-align: center;
}
.table-standard {
    width: 100%;
    font-size: 0.875rem;
    table-layout: auto;
    caption-side: top;
    border-collapse: collapse;
}
.table-standard th,
.table-standard td {
    padding: var(--space-sm);
    border: var(--border-default);
}
.table-header th {
    font-weight: var(--font-weight-semibold);
    background-color: var(--accent-subtle);
}

/* Rotate table header chevrons when sorted */
.table-header th[data-order="asc"] svg {
    transform: rotate(180deg);
}
.table-row {
    transition: background-color 25ms ease-out;
}

/* Table context menu ellipsis */
.table-row .row-actions {
    visibility: hidden;
}
.table-row:hover .row-actions {
    visibility: visible;
}
.table-row:nth-child(even) {
    background-color: var(--bg-light);
}
.table-row:hover {
    background-color: var(--accent-hover);
}

/* =========================================
   Context Menu
   ========================================= */
.context-menu {
    position: absolute;
    z-index: 200;
    max-width: 50%;
    background-color: var(--bg);
    border: var(--border-default);
    border-radius: var(--border-radius);
}
.context-menu > li {
    padding: var(--space-sm) var(--space-md);
}
.context-menu > li:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
}

/* Style hover so its corners don't jut out from ul element itself */
.context-menu > li:first-child:hover {
    border-radius: var(--border-radius) var(--border-radius) 0 0; /* top-left, top-right only */
}
.context-menu > li:last-child:hover {
    border-radius: 0 0 var(--border-radius) var(--border-radius); /* bottom-left, bottom-right only */
}
.context-menu > li:only-child:hover {
    border-radius: var(--border-radius);
}

/* =========================================
   Layout Components
   ========================================= */

/* Mimick <fieldset>'s 'title intersects border' effect for container headers */
.card-title {
    position: absolute;
    top: -0.9rem;
    left: 1rem;
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
    padding: 0 0.05rem;
    background: linear-gradient(
        to bottom,
        var(--bg-dark) 48%,
        var(--bg) 52%
    );
}
.card-title h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-higher);
    pointer-events: none;
}

/* =========================================
   Toasts
   ========================================= */

#toast-container {
    position: fixed;
    top: calc(1.3 * var(--min-navbar-height));
    right: 1rem;
    z-index: 400;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-sm);
    border-radius: var(--border-radius-mild);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.toast {
    padding: var(--gap-xs) var(--gap-sm);
    border: solid 1px transparent;
    border-radius: var(--border-radius-mild);
}
.toast-success {
    color: var(--clr-success);
    background-color: color-mix(in srgb, var(--clr-success) 10%, white); /* Derive from clr-success */
    border-color: var(--clr-success);
}
.toast-error {
    color: var(--clr-error);
    background-color: color-mix(in srgb, var(--clr-error) 10%, white);
    border-color: var(--clr-error);
}

/* =========================================
   Checklist styling
   ========================================= */
.item-list {
    display: grid;
    gap: var(--gap-sm);
}
.item-row {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
}
.item.completed .item-title {
    color: var(--text-muted);
    text-decoration: line-through;
}


/* =========================================
   Tabbed Modals
   ========================================= */
.tab-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-xs);
    padding: var(--space-xs);
    background-color: var(--bg-light);
}
.tab {
    display: flex;
    flex: 1;
    gap: var(--gap-xs);
    align-items: center;     /* centers icons vertically */
    justify-content: center; /* centers icon+text buttons horizontally */
    padding: var(--space-sm);
}
.tab svg {
    width: 1em;
    height: 1em;
}
.tab-group, .tab {
    border-radius: var(--border-radius);
}
.tab:hover {
    background-color: var(--bg-hover);
    filter: brightness(0.9);
}
.tab:active {
    background-color: var(--bg-hover);
    filter: brightness(0.9);
    transform: translateY(1px);
}
.tab.active {
    background-color: var(--accent-subtle);
    filter: brightness(1.2);
    transform: translateY(1px);
}

/* =========================================
   Dropdown Menu
   ========================================= */
.dropdown {
    position: relative;
}
.dropdown-toggle {
    display: inline-flex;
    gap: var(--gap-sm);
    align-items: center;
    padding: var(--space-xs) var(--space-sm);
    white-space: nowrap;
    background-color: var(--bg-light);
    border: var(--border-default);
    border-radius: var(--border-radius);
}
.dropdown-toggle-chevron,
.dropdown-toggle-label {
    pointer-events: none;
}
.dropdown-toggle-chevron svg {
    width: 1em;
    height: 1em;
    transition: transform 0.2s ease;
}
.dropdown-menu {
    position: absolute;
    z-index: 200;
    display: none;
    flex-direction: column;
    background-color: var(--bg-light);
    border: var(--border-default);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 20px rgb(0 0 0 / 30%);
}
.dropdown.is-open svg {
    transform: rotate(180deg);
}
.dropdown.is-open .dropdown-menu {
    display: flex;
}

.dropdown-menu > button {
    padding: var(--space-sm) var(--space-md);
    text-align: left;
}
.dropdown-menu > button:hover {
    background-color: var(--accent-hover);
}

/* Style hover so its corners don't jut out from ul element itself */
.dropdown-menu > button:first-child:hover {
    border-radius: var(--border-radius) var(--border-radius) 0 0; /* top-left, top-right only */
}
.dropdown-menu > button:last-child:hover {
    border-radius: 0 0 var(--border-radius) var(--border-radius); /* bottom-left, bottom-right only */
}
.dropdown-menu > button:only-child:hover {
    border-radius: var(--border-radius);
}