/* ==== Components ====
    Reusable UI blocks (buttons, cards, tables)
*/

/* TODO: Classes off the top of my head that are scattered/chaotic: is-open, completed, hide,  */

/* =========================================
   Base button shapes/ergonomics
   ========================================= */

/* TODO: Sketching the "plus_btn with label inside" styling: */
/*.btn-with-label {
  border: 1px solid red;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);

  &:hover {
    background: var(--bg-light);
  }
}*/

.icon {
  display: inline-block;
  width: 1lh;
  height: 1lh;
  vertical-align: middle;
  stroke: currentColor;
  fill: none;
}

[data-priority] {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
[data-priority="low"] { color: var(--text-muted); opacity: 0.7; }
[data-priority="medium"] { color: var(--clr-warning); opacity: 0.8; }
[data-priority="high"] { color: var(--clr-error); }
[data-priority="frog"] { color: var(--accent-strong); }
.badges-svg-defs {
  display: none;
}

.btn {
  display: inline-flex;       /* icons+text align */
  gap: var(--space-sm);
  align-items: center;        /* for icon+label vertical centering? */
  justify-content: center;    /* center text when full width */
  padding: var(--space-sm) var(--space-md);
  user-select: none;
  border: var(--border-default);
  border-radius: var(--border-radius);
}
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--btn-size-md);
  height: var(--btn-size-md);
  padding: 0;
}


/* =========================================
   Shared button states
   ========================================= */

/* TODO: Focus ring: visual feedback for keyboard users */
.btn:focus-visible,
.btn-icon:focus-visible {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
}

/* Catch native + ARIA-disabled buttons */
.btn[disabled],
.btn-icon[disabled],
.btn[aria-disabled="true"],
.btn-icon[aria-disabled="true"],
*[disabled] {
  cursor: not-allowed;
  opacity: 0.6;

  & * {
    cursor: not-allowed;
  }
}

/* Pressed effect (only for text buttons & tabbed modal tabs) */
.btn:active {
  filter: brightness(0.9);
  transform: translateY(1px);
}

/* Hover states (skip on touchscreen) */
@media (hover: hover) {
  .btn-primary:hover {
    filter: brightness(1.1);
  }
  .btn-secondary:hover {
    background-color: var(--bg-hover);
    border-color: var(--accent-subtle);
  }
  .btn-ghost:hover {
    background: var(--bg-hover);
    color: var(--text);
  }
  .btn-destructive:hover {
    color: var(--bg-light);
    background-color: var(--text-destructive);
  }
}

/* =========================================
   Intent variants
   ========================================= */

.btn-ghost {
  background: transparent;
  border: none;
  color: var(--text-muted);
}

.btn-primary {
  background-color: var(--accent-strong);
  color: var(--text);
}
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --stop-pos {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0;
}
/* Container queries look up the tree to find nearest ancestor with container-type */
@container (max-width: 40px) {
  .left-sidebar .sidebar-label {
    display: none;
  }
  .sidebar-option { width: 36px; }
  .btn-primary--gradient1 {
    width: 30px;
    height: 30px;
    
    & .label {
      display: none;
    }
  }
}
/* Each "button > thing + span" pair in our left-sidebar */
.sidebar-option {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  width: 100%;
  height: 36px;
  padding-left: 5px; /* centers icon position in sidebar in closed mode, stable in open */
  /* width is natural/full in open mode ofc */
}
.btn-primary--gradient {
  --angle: 135deg;
  background-image: linear-gradient(
    in oklch var(--angle),
    color-mix(in oklch, white 35%, var(--accent-strong)),
    var(--accent-strong)
  );
  color: var(--text);
  transition: --angle 0.2s ease, filter 0.2s ease;

  &:hover {
    --angle: 160deg;
    filter: brightness(1.1);
  }
}
.btn-primary--gradient1 {
  --angle: 135deg;
  --stop-pos: 35%;
  --lighter-clr: color-mix(in oklch, white var(--stop-pos), var(--accent-strong));
  background-image: linear-gradient(
    in oklch var(--angle),
    var(--lighter-clr) 0%, var(--lighter-clr) 45%,
    var(--accent-strong) 55%, var(--accent-strong) 100%
  );
  color: var(--text);
  transition: --angle 0.2s ease-out, --stop-pos 0.2s ease,
    filter 0.2s ease, background-position 0.2s ease;
  background-size: 250% 100%;
  background-position: left;

  &:hover {
    background-position: right;
    /* --angle: 150deg; */
    /* --stop-pos: 45%; */
    /* filter: brightness(1.05); */
  }
}
.btn-primary--gradient2 {
  --angle: 135deg;
  background-image: linear-gradient(
    in oklch var(--angle),
    color-mix(in oklch, white 35%, var(--accent-strong)),
    var(--accent-strong)
  );
  color: var(--text);
  transition: --angle 0.4s ease, filter 0.2s ease;

  &:hover {
    --angle: 150deg;
    filter: brightness(1.1);
  }
}
.btn-primary--gradient3 {
  --angle: 135deg;
  background-image: linear-gradient(
    in oklch var(--angle),
    color-mix(in oklch, white 35%, var(--accent-strong)),
    var(--accent-strong)
  );
  color: var(--text);
  transition: --angle 0.5s ease, filter 0.2s ease;

  &:hover {
    --angle: 150deg;
    filter: brightness(1.1);
  }
}
.btn-primary--gradient4 {
  --angle: 135deg;
  background-image: linear-gradient(
    in oklch var(--angle),
    color-mix(in oklch, white 35%, var(--accent-strong)),
    var(--accent-strong)
  );
  color: var(--text);
  transition: --angle 0.6s ease, filter 0.2s ease;

  &:hover {
    --angle: 150deg;
    filter: brightness(1.1);
  }
}
.btn-primary--gradient5 {
  --angle: 135deg;
  --stop-pos: 35%;
  background-image: linear-gradient(
    in oklch var(--angle),
    red 0%, red 45%,
    white 55%, white 100%
  );
  color: var(--text);
  transition: background-position 2s ease;
  background-size: 400% 100%;
  background-position: left;

  &:hover {
    background-position: right;
    /* --angle: 150deg; */
    /* --stop-pos: 45%; */
    /* filter: brightness(1.05); */
  }
}

.btn-secondary {
  background-color: var(--bg-light);
  border: 1px solid transparent; /* prevent layout shift on hover */
  transition:
    border-color var(--transition-hover),
    background-color var(--transition-hover);
}
.btn-destructive {
  color: var(--text-destructive);
  border-color: var(--text-destructive);
}

/* =========================================
   Form factor modifiers
   ========================================= */

/* Icon sizing (proportional: always 50% of buttons) */
.btn-icon svg {
  width: calc(var(--btn-size-md) * var(--icon-scale));
  height: calc(var(--btn-size-md) * var(--icon-scale));
  pointer-events: none;
}
.btn-round {
  border-radius: 50%;
}
.btn-square {
  border-radius: var(--border-radius);
}

/* =========================================
   Size modifiers
   ========================================= */

.profile-modal[open] {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
dialog {
  width: clamp(20rem, 90vw, 30rem);
  max-height: 90vh;
  padding: var(--space-xl);
  background-color: var(--bg);
  border: none;
  border-radius: var(--border-radius);
  /* box-shadow: 0 4px 20px rgb(0 0 0 / 30%); */
  box-shadow: var(--shadow-lg);
}
.form-modal,
.profile-modal,
#recipe-detail-modal {
  top: 5%;
  margin: 0 auto;
  overflow: hidden;
}
dialog[open] {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
dialog[open] .modal-header {
  border-bottom: 2px solid var(--border-color);
}
dialog[open] .modal-body {
  flex: 1;
  min-height: 0;
  padding: var(--space-xs);
  overflow-y: auto;
  container-type: inline-size; /* TODO: this declares containment for field-pair/--weighted container queries? */
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(8px);
}

/* Modal X button styling */
.modal-close {
  position: absolute;
  inset: 1rem 1rem auto auto;
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-size-xl);
  color: var(--text-muted);
  background: transparent;
  border: none;

  &:hover {
    color: var(--text-destructive);
  }
}

/* Confirmation modal variant's content */
#confirmation-modal[open] {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
  inset: 0;
}
.confirmation-content {
  text-align: center;
}
.confirmation-message {
    padding: var(--space-sm);
}
.confirmation-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md);
}

#tooltip {
  position: fixed;
  position-anchor: --tooltip-anchor;
  /* Constrains the tooltip's inline size to the anchor's inline size? */
  position-area: block-start center;
  width: max-content;
  position-try-fallbacks: flip-block;
  margin: bottom;
}

#tooltip { 
  /* position: relative; positioning context for ::after */
  max-width: 28ch;
  padding: 4px;
  /* margin-bottom: 8px; */
  color: var(--bg); /* then use current bg as text for color parity */
  overflow-wrap: break-word;
  pointer-events: none;
  background-color: color-mix(in srgb, var(--text) 90%, transparent); /* steal other theme's TEXT color - should be appropriate */
  border: var(--border-default);
  border-radius: var(--border-radius);
}
#tooltip:not(#no-after)::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: var(--caret-pos, 50%); /* --caret-pos calculated via JS */
  border: 0.4rem solid transparent; /* forms our triangle "arrow" */
  border-top-color: color-mix(in srgb, var(--text) 90%, transparent);
  opacity: 1;
  transform: translate(-50%, -40%);
}

/* Card itself: border-radius, shadow, card bg, internal padding, & verical spacing between its children */
.card-dashboard {
  position: relative; /* positioning context for .card-title */
  container-type: inline-size; /* TODO: this declares containment for container queries on field-pair/weighted? */
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-self: stretch;
  padding: var(--space-xl) var(--space-lg) var(--space-lg);
  box-shadow: var(--shadow-sm);
}

/* =========================================
   Sidebar Variants
   ========================================= */

/* RIGHT SIDEBAR:
    For profile/user settings/global config
    Overlay/backdrop style
*/
.profile-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  z-index: 1000;
  height: 100%;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md);
  transform: translateX(100%);
  transition: transform 0.2s ease;

  &.open { transform: translateX(0); }

  & .logout { justify-self: end; }

/* TODO: move elsewhere? */
& .devtools-section {
    & .my-grid {
      display: grid;
      grid-template-areas:
        "links links"
        "reset reset";
      gap: var(--space-sm);
    }
    & .reset { grid-area: reset; }
    & .links {
      grid-area: links;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-sm);
    }
    & a, & button {
      font-size: var(--font-size-sm);
      height: 40px;
    }
  }
}
.sidebar-edit-plus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-sidebar-backdrop {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99;

  &.open { display: block; }
}

/* LEFT SIDEBAR (Base) */
/* Grid placement + sticky full height */
.sidebar-container {
  grid-area: left;
  position: sticky;
  top: 0;
  height: 100%;

  & .sidebar-toggle {
    position: absolute;
    align-self: start;
    top: var(--space-md);
    right: 0;
    translate: 100% 0;
    background: var(--bg-light);
    cursor: pointer;
  }
}

/* The shell: bg, overflow-y, collapse-to-rail container-type thing, slide transition */
.left-sidebar {
  /* Creates a containment context: means el can no longer size itself according to its children's
    intrinsic width
  */
  container-type: inline-size;
  background: var(--bg-light);
  transition: transform 0.2s ease;
  text-wrap: whitespace;
  height: 100%;
  overflow-y: auto;

  > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-xs);
    white-space: nowrap;
    overflow: hidden;
  }
}

.left-sidebar--tasks {
  & span {
    transition:
      opacity 3s ease allow-discrete,
      display 1s ease 0.2s allow-discrete;
  }
  /* to show active color for currently selected primary filter */
  & [data-filter].active {
    color: var(--accent-strong);
    fill: var(--accent-strong);
  }
}


/* Groceries: Data page sidebar */
.left-sidebar--data {
  & svg {
    width: 40px; height: 1.3em;
    display: inline;
  }
}

/* =========================================
   Forms & Form Groups/Groupings
   ========================================= */

form :is(input, select, textarea).invalid {
  border: 2px solid var(--clr-error);
}

/* Applied to form elements themselves - for spacing between div(label+input) groups */
.form-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-sm);

  /* Target divs at any depth which themselves directly contain a label 
  For label+input groupings (barring toggle-groups) */
  & div:has(> label):not(.toggle-group) {
    display: grid;
    align-items: center;
  }
}

/* CTA + maybe secondary button(s) */
.form-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  align-self: start;
  justify-content: center;
  /* width: clamp(5rem, 60vw, 15rem); */
  width: auto;

  & > * {
    flex: 1; /* size each button equally */
  }
}

/* Two fields side-by-side (equal or weighted split) */
.field-pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
}
.field-pair--weighted {
  grid-template-columns: 7fr 3fr;
}

.checkbox-fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-sm);
  justify-content: center;

  & > div {
    place-items: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-default);
  }
  & legend {
    padding: 0 var(--space-xs);
    margin-bottom: var(--space-xs);
  }
}

/* TODO: Draft toggle switch */
.toggle-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
:root {
  --toggle-checkbox-size: 30px;
}
/* The "track" */
.toggle {
  position: relative;
  display: inline-block;
  outline: var(--border-default);
  width: calc(var(--toggle-checkbox-size) * 2);
  height: calc(var(--toggle-checkbox-size));
  border-radius: var(--toggle-checkbox-size);
  cursor: pointer;
  background: var(--bg-light);
  transition: background 0.2s ease;

  /* flair? inset shadow? */
  box-shadow: inset var(--shadow-md);
}
.toggle::before,
.toggle::after {
  --gap: 3px;
  content: "";
  position: absolute;
  display: block;
  width: calc(var(--toggle-checkbox-size) - var(--gap) * 2);
  height: calc(var(--toggle-checkbox-size) - var(--gap) * 2);
  border-radius: 200px;
  margin: var(--gap);
}
/* Knob */
.toggle::before {
  background-color: color-mix(in oklch, var(--bg-hover) 70%, white);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
  transition: transform 0.2s ease, background-image 0.4s ease;
}
/* Checkmark inside knob */
.toggle::after {
  opacity: 0;
  /* background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill='currentColor' stroke-linecap='round' d='M6.1 11.3L2.8 8l1.4-1.4 1.9 1.9 5.7-5.7L13.2 4z'/></svg>"); */
  /* Use a mask instead: SVG shape acts as a mask and we control the color via background-color! :P */
  mask: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill='currentColor' stroke-linecap='round' d='M6.1 11.3L2.8 8l1.4-1.4 1.9 1.9 5.7-5.7L13.2 4z'/></svg>");
  background-color: var(--accent-strong);
  transform: rotate(-90deg);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.toggle-input {
  display: none;

  &:checked + .toggle {
    background: var(--accent-subtle);
    filter: drop-shadow(0 0 6px var(--accent-subtle));
  }
  &:checked + .toggle::before {
    background-color: color-mix(in oklch, var(--bg-hover) 10%, white);
    transform: scale(1.1) translateX(var(--toggle-checkbox-size));
  }
  &:checked + .toggle::after {
    transform: scale(1.1) translateX(var(--toggle-checkbox-size)) rotate(0deg);
    opacity: 1;
  }
}

/* Override styling for theme toggle specifically */
.toggle--theme {

  &::after {
    mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'><path fill-rule='evenodd' d='M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162Z' clip-rule='evenodd' /></svg>");
    background-color: var(--text-muted);
    transform: rotate(0deg);
    opacity: 1;
  }
}
.toggle-input:checked + .toggle--theme::after {
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'><path d='M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z'/></svg>");
}

/* DRAFT/TODO: Multiple options checkbox counterpart to our above .toggle: Pills */
.pill-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border: none;
  padding: 0;
}
.pill {
  padding: 0.2rem;
}
.pill input {
  position:absolute;
  opacity: 0;
  pointer-events: none;
}
.pill span {
  position: relative; /* for ::before gradient border */
  display: inline-block;
  padding: 0.35rem 0.85rem;
  border: 1px solid transparent; /* prevent border shift when checked */
  border-radius: 999px;
  background: var(--bg-light);
  color: var(--text-muted);
  font-size: var(--font-sm);
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.pill input:checked + span {
  background: var(--bg-active);
  color: var(--text-active);
}
.pill input:checked + span {
  background-color: var(--bg-active);
  background-image: linear-gradient(135deg, var(--accent-strong), color-mix(in oklch, var(--accent-strong) 60%, white));
    /* linear-gradient(135deg, var(--accent-strong), white) border-box; */
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border: 1px solid transparent;
  /* color: var(--text-active); */
  color: white;
}
/* .pill input:checked + span::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(135deg, var(--accent-strong),
    color-mix(in oklch, var(--accent-strong) 60%, white));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
} */




/* DRAFT: trying out anchor positioning */
.trigger {
  anchor-name: --my-trigger;
  border: 1px solid cyan;
  background: var(--bg);
}
/* thing that positions itself */
.test-tip {
  position: fixed;
  position-anchor: --my-trigger;
  /* place tooltip's top-center at triggers bottom-center */
  top: anchor(bottom);
  left: anchor(center);
  /* translate: -50% 0; */
}



/* DEBUG/TODO: CLEANUP for task link stuff */
[data-search] {
  position: relative;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
/* When dropdown is visible, connect them */
[data-search-wrapper].open input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
}

[data-search-wrapper].open .subtask-dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.subtask-dropdown {
  position: fixed;
  z-index: 50;
  top: calc(100% + 6px);
  width: 100%;
  max-height: min(300px, 40vh);
  overflow-y: auto;
  scrollbar-width: thin;
  background: var(--bg);
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.3); */
  box-shadow: var(--shadow-md);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.subtask-option {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  /* border: 1px solid var(--accent-subtle); */
  background: var(--bg-light);
  padding: var(--space-sm) var(--space-md);

  &:hover {
    background: var(--bg-hover);
  }
}
.subtask-option + .subtask-option {
  border-top: 1px solid var(--bg-dark);
}

/* wraps all pills */
.subtask-chips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: var(--space-sm);
}
/* each pill as a whole (x_svg + name) */
.subtask-chip {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
  background: var(--bg-light);
  color: var(--accent-strong);
  border: 1px solid var(--accent-strong);
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
}
.subtask-chip-remove {
  opacity: 0.7;
  cursor: pointer;
}
.subtask-chip-remove:hover {
  opacity: 1;
  color: var(--clr-error);
}
/* wraps label + search input + dropdown */
.search-wrapper:has(.subtask-dropdown:not(.hide)) input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/* =========================================
   Inputs
   ========================================= */

input, select, textarea {
  padding: var(--space-xs) var(--space-sm);
  color: var(--text);
  accent-color: var(--accent-subtle);
  background-color: var(--bg-light);
  border: var(--border-default);
  border-radius: var(--border-radius);

  &[disabled]:hover {
    cursor: not-allowed;
  }
}
select:has(option[value=""]:checked) {
  color: var(--text-muted);
  /* font-size: var(--font-size-sm); */
}
input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}
:where(input, select, textarea):focus-visible {
  outline: var(--focus-ring);
  outline-offset: var(--focus-offset);
}

/* TODO: Tune this a bit for table cells */
.input-inline {
  padding-block: var(--space-xs); /* top+bottom Slightly tighter */
  font-size: var(--font-size-sm);
  border: none;
  border-bottom: var(--border-default);
}


/* =========================================
   Tables
   ========================================= */

/* Needed higher specificity here to override so delete-cell properly blends in to card */
td {
  font-size: small;
}
/* TODO: BUG: Fix this & sort out why table-cell class is required for delete-btn's to style properly */
.table-cell.delete-cell {
  width: 0; /* prevent us from consuming extra table width */
  padding: 0;
  background-color: var(--bg);
  border: none;
}

.table-empty {
  padding: var(--space-sm) 0;
  font-style: italic;
  color: var(--text-muted);
  text-align: center;
}
.table-standard {
  width: 100%;
  font-size: 0.875rem;
  table-layout: auto;
  caption-side: top;
  border-collapse: collapse;

  & :is(th, td) {
    padding: calc(0.9 * var(--space-sm));
    border: var(--border-default);
  }
}

.sort-chevron {
  stroke: currentColor;
  fill: none;
  stroke-width: 1.5;
}

.sort-label {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
  pointer-events: none;

  & svg {
    opacity: 0;
    width: 1.5em;
    height: 1.5em;
    pointer-events: none;
    transition: transform 0.1s ease;
  }
}
.table-header {
  & th {
    font-weight: var(--font-weight-semibold);
    background-color: var(--bg);
    border-bottom: 2px solid var(--accent-strong);
    color: var(--accent-strong);
    cursor: pointer;

    /* Sorting chevron */
    &[data-order="asc"] svg {
      transform: rotate(180deg);
    }
    &[data-order="asc"] svg,
    &[data-order="desc"] svg {
      opacity: 1;
    }
  }
}


.table-body {
  tr {
    transition: background-color 25ms ease-out;

    & .row-actions {
      visibility: hidden;
    }
    &:hover .row-actions {
      visibility: visible;
    }
    &:nth-child(even) {
      background-color: var(--bg-light);
    }
    &:hover {
      background-color: var(--accent-subtle);
    }
  }
}


/* =========================================
   Layout Components
   ========================================= */

/* Mimick <fieldset>'s 'title intersects border' effect for container headers */
.card-title {
  position: absolute;
  top: -0.9rem;
  left: 1rem;
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  padding: 0 0.05rem;
  background: linear-gradient(
      to bottom,
      var(--bg-dark) 48%,
      var(--bg) 52%
  );

  & h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    line-height: 1.75rem;
    pointer-events: none;
  }
}

/* =========================================
   Checklist styling
   ========================================= */
.item-list {
  display: grid;
  gap: var(--space-sm);
}
.item-row {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}
.item.completed .item-title {
  color: var(--text-muted);
  text-decoration: line-through;
}


/* =========================================
   Tabbed Modals
   ========================================= */
.tab-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-xs);
  padding: var(--space-xs);
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
}
.tab {
  display: flex;
  gap: var(--space-xs);
  align-items: center;     /* centers icons vertically */
  justify-content: center; /* centers icon+text buttons horizontally */
  padding: var(--space-sm);
  border-radius: var(--border-radius);

  & svg {
    width: 1em;
    height: 1em;
  }
  &:hover {
    background-color: var(--bg-hover);
    filter: brightness(0.9);
  }
  &:active {
    background-color: var(--bg-hover);
    filter: brightness(0.9);
    transform: translateY(1px);
  }
  &.active {
    background-color: var(--bg-active);
    color: var(--text-active);
    border: 1px solid var(--accent-strong);
    filter: brightness(1.2);
    transform: translateY(1px);
  }
}





/* =========================================
   D3: Pill buttons for chart ranges / metric types
   ========================================= */

.timeframe-selector {
  display: inline-flex;
  flex-direction: row;
  align-self: flex-start;

  & > button {
    padding: var(--space-xs) var(--space-md);

    &:not(:last-child) {
      border-right: 1px solid var(--border-color);
    }
    &:hover {
      background: var(--bg-hover);
    }
    /* TODO: trying it out */
    &.active {
      color: var(--text-active);
      background: var(--bg-active);
    }

/* 
    &.active {
      color: var(--accent-subtle);
      background: var(--bg-light);
    } */
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

/* =========================================
   Stats Info Card
   ========================================= */

.stats-subtitle {
  font-size: var(--font-size-md);
  color: var(--accent-strong);
  grid-area: subtitle;
  place-self: end; /* put at...end? bottom? */
}

@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

.card-stats {
  display: flex;
  flex-direction: column;
  position: relative; /* so stat-progress bar takes full width */
  /* Pct bar across bottom of card */
  .stat-progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: rgba(255,255,255,.07);
    overflow: hidden;
    --p: 0;

    & .stat-progress__fill {
      height: 100%;
      width: 100%;
      transform: scaleX(var(--p));
      transform-origin: left center;
      background: var(--accent-strong);
      transition: transform 0.2s cubic-bezier(.22,.61,.36,1);
    }
  }
}


/* =========================================
   Dropdown Menu
   ========================================= */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  anchor-name: --dropdown;
  display: inline-flex;
  gap: var(--space-sm);
  align-items: center;
  padding: var(--space-xs) var(--space-sm);
  white-space: nowrap;
  background-color: var(--bg-light);
  border: var(--border-default);
  border-radius: var(--border-radius);
}
.dropdown-toggle-chevron,
.dropdown-toggle-label {
    pointer-events: none;
}
.dropdown-toggle-chevron svg {
  transition: transform 0.2s ease;

  &.flip { transform: rotate(180deg); }
}
.dropdown-menu {
  position-anchor: --dropdown;
  width: anchor-size(width); /* reads anchor el's width and applies it */
  /* also anchor-size(height) if we need it! */
  top: anchor(bottom);
  left: anchor(left);
  position: fixed; /* required for anchor positioning */
    /* Popover handles show/hide and top-layer */
  margin: 0;
  padding: 0;
  box-shadow: var(--shadow-md);

  & > button {
    display: block;
    width: 100%;
    padding: var(--space-sm) var(--space-md);
    text-align: left;
  }
  & > button:hover {
    background-color: var(--accent-subtle);
  }
}

.segmented { --count: 3; }
.segmented[data-count="2"] { --count: 2; }
.segmented[data-count="4"] { --count: 4; }
.segmented[data-count="5"] { --count: 5; }
.segmented {
  position: relative; /* 1. glider's anchor */
  display: grid;
  grid-template-columns: repeat(var(--count), 1fr);
  padding: var(--space-xs);
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  & input { display: none; }  /* hide the radios */
}
.segment:nth-of-type(1):has(input:checked) ~ .s-glider { --selected: 0; }
.segment:nth-of-type(2):has(input:checked) ~ .s-glider { --selected: 1; }
.segment:nth-of-type(3):has(input:checked) ~ .s-glider { --selected: 2; }
.segment:nth-of-type(4):has(input:checked) ~ .s-glider { --selected: 3; }
.segment:nth-of-type(5):has(input:checked) ~ .s-glider { --selected: 4; }

.segment {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--bg-hover);
  }
}

.segment span {
  position: relative; /* makes z-index actually apply */
  z-index: 2;
  text-align: center;
  padding: var(--space-xs);
}
.segment input:checked + span { color: var(--accent-strong); }

.s-glider {
  position: absolute;
  top: 0; bottom: 0;
  width: calc(100% / var(--count)); /* 2. one cell wide */
  transform: translateX(calc(var(--selected) * 100%));  /* 3. Slide to selected */
  z-index: 1;
  background-color: var(--bg-active);
  border: 1px solid var(--accent-strong);
  border-radius: var(--border-radius);
  transition: transform 0.2s cubic-bezier(0.2, 1.9, 0.5, 0.56);
}
