# VCS / editor
.git
.gitignore

# Python build caches
**/_pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Virtual envs
.venv/
venv/

# Node/assets
node_modules/
dist/
build/

# Local envs
.env
prod.env

# Misc.
CONVENTIONS.md
PROJECT_LOG_ARCHIVE/
PROJECT_LOG.md
README.md
**/.md

# Other Dockerfiles
Dockerfile.pi
docker-compose.pi.yml
docker-compose.yml


# Tests
happydom.ts
tests/