# Custom .gitignore for Vesper project

# ==========================
# Python build artifacts
# ==========================
__pycache__/
# *.py[cod]
# *$py.class

# ==========================
# Tools & Scratch
# ==========================
_playground/
seed_dev_db.py
.VSCodeCounter/
.ruff_cache/

# ==========================
# Environment files / venv
# ==========================
*.env
# .venv
# env/
# venv/
# ENV/
# env.bak/
# venv.bak/

# ==========================
# Test / coverage reports
# ==========================
htmlcov/
.coverage
.coverage.*

# ==========================
# Node / front-end artifacts
# ==========================
node_modules/
app/static/**

# ==========================
# Docker scripts
# ==========================
get-docker.sh
