# Docker Compose for Pi deployment
services:
  # Postgres container
  db:
    image: postgres:17.4
    container_name: vesper-db-pi
    expose:
      - "5432"
    env_file:
      - pi.env
    volumes:
      - pgdata-pi:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h 127.0.0.1"]
      interval: 15s
      timeout: 8s
      retries: 4
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  # Flask app
  flask:
    build:
      context: .
      dockerfile: Dockerfile.pi # Separate Dockerfile to avoid adding user like in dev deployment
    container_name: vesper-flask-pi
    depends_on:
      - db
    env_file:
      - pi.env
    ports:
      - "5000:5000" # binds to 0.0.0.0 by default, accessible from LAN

    healthcheck:
      test: ["CMD", "curl", "-fsS", "-m", "2", "http://localhost:5000/health"]
      interval: 30s
      timeout: 6s
      retries: 3
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  pgdata-pi:
    name: vesper-pgdata-pi