{# _macros.html - Style macros for consistent styling across templates #}
{# <!--
REMEMBER:
If we're defining reusable batch styles → style.css (.input-standard, .form-group)
If we're defining reusable COMPONENTS (with structure/behavior/logic) → here ({{ form_input() }}, {{ card() }})
  - Components = HTML structure + behavior + logic
  - Styles = just CSS classes
--> #}

{#
    Notes for custom modals: Keyboard nav, aria-label param,    
#}

{# === NAV COMPONENTS === #}

{# NOTE: current_user.role is a string, required_role is now an Enum, hence the '.value' #}

{% macro nav_link(text, endpoint, current_endpoint, required_role=None) %}
    {% if not required_role or (current_user.is_authenticated and current_user.role == required_role.value) %}
        <a href="{{ url_for(endpoint) }}"
        class="nav-link {% if current_endpoint == endpoint %}active{% endif %}"
                        {% if current_endpoint == endpoint %}aria-current="page"{% endif %}>
            {{ text }}
        </a>
    {% endif %}
{% endmacro %}

{# Link for returning from error page(s) #}
{% macro error_link(text, endpoint) %}
<a href="{{ url_for(endpoint) }}"
    class="error-link btn btn-primary">
    {{ text }}
</a>
{% endmacro %}


{# === BUTTON COMPONENTS === #}

{# Note: btn btn-destructive for styling (color & cursor), delete-btn for our JS event listener #}
{% macro delete_btn() %}
<button aria-label="Delete item" class="btn btn-destructive delete-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4" aria-hidden="true">
        <title></title>
        <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
    </svg>  
</button>
{% endmacro %}

