{# Navbar template used across site. Note: nav_link macro at bottom of this file #}
{# === NAV COMPONENTS === #}

{% macro profile_btn() %}
<button class="btn-icon btn-round btn-lg profile-btn" aria-label="Profile settings">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    </svg>
</button>
{% endmacro %}

{# NOTE: current_user.role is a string, required_role is now an Enum, hence the '.value' #}
{% macro nav_link(text, endpoint, current_endpoint, required_role=None) %}
    {% if not required_role or (current_user.is_authenticated and current_user.role == required_role.value) %}
        <a
        class="nav-link {% if current_endpoint == endpoint %}active{% endif %}"
        href="{{ url_for(endpoint) }}"
        {% if current_endpoint == endpoint %}aria-current="page"{% endif %}
        >
            {{ text }}
        </a>
    {% endif %}
{% endmacro %}

{# TODO: Note: navlinks is the desktop name, need to rename after switching over logic/styling #}
{% macro navigation_links(type='navlinks') %}
<div id="{{ type }}" class="{{ type }}">
    {% if current_user.is_authenticated %}
        {{ nav_link('Tasks', 'tasks.dashboard', request.endpoint) }}
        {{ nav_link('Habits', 'habits.dashboard', request.endpoint) }}
        {{ nav_link('Groceries', 'groceries.dashboard', request.endpoint) }}
        {{ nav_link('Metrics', 'metrics.dashboard', request.endpoint) }}
        {{ nav_link('Time Tracking', 'time_tracking.dashboard', request.endpoint) }}
    {% endif %}
    
    {% if current_user.is_anonymous %}
        {{ nav_link('Log in', 'auth.login', request.endpoint) }}
    {% endif %}
</div>
{% endmacro %}
<div class="nav-anchor">
    <nav aria-label="Main navigation">
        <div class="navbar-content">
            {# LEFT: Branding & Links #}
            <div class="nav-left">
                <a href="{{ url_for('main.home') }}" class="branding">Vesper</a>

                <button class="hamburger-btn"
                        aria-controls="mobilenav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation menu">
                    ☰
                </button>
                
                {{ navigation_links() }}
            </div>

            {# Settings modal, theme select, etc. #}
            <div class="nav-right">

                {% if current_user.is_authenticated %}
                    {{ profile_btn() }}
                {% endif %}

                <form>
                    <fieldset>
                        <legend class="_sr-only">Pick a theme</legend>
                        <select id="theme" name="theme">
                            <option value="laptop">System</option>
                            <option value="sun">Light</option>
                            <option value="moon">Dark</option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>
    </nav>

    <div id="mobilenav" class="mobilenav">
        {{ navigation_links('mobilenavlist') }}
    </div>
</div>

<dialog class="profile-modal">
    <h3>User Account Settings</h3>
    <button id="close-profile-modal-btn" class="btn-icon btn-round modal-close" type="button">&times;</button>

    <form action="{{ url_for('auth.logout') }}" method="POST" data-noajax>
        {# TODO: Add CSRF token here #}
        <button class="btn btn-destructive" type="submit">Log out</button>
    </form>

    {% if has_dev_tools %}
    <h3>Dev Tools</h3>
    <div class="_stack-md">
        <a class="btn btn-primary" href="/my-fake/route">Test 404</a>
        {% if config.APP_ENV == 'dev' %}
            <a class="btn btn-secondary" href="{{ url_for('devtools.style_reference')}}">Style Reference Page</a>
        {% endif %}
        <form action="{{ url_for('auth.reset_dev') }}" method="POST" data-noajax>
            <button class="btn btn-destructive" type="submit">Reset Dev</button>
        </form>
    </div>
    {% endif %}
</dialog>