@import 'tailwindcss';


/* TODO: Remove this?
Able to group Tailwind stylings together for repeat usage, within @layer components here */
@layer components {
    .btn-primary {
        @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition;
    }
}
/* Using @layer to extend the _base_ (modifying Tailwind's Preflight config so it lets me change the font) */
@layer base {
    html {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
    }
}

/* Force everything to respect the screen width */
* {
    box-sizing: border-box; /* Padding/borders included in width calculations */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* Now making our greeting card be grid layout within our flexbox content */
#greeting-card {
    display: grid;
    /* grid-template-columns
    1fr: takes up available space
    auto: just wide enough for content (our divider)
    1fr: takes up remaining available space
    */
    grid-template-columns: 1fr auto 1fr; /* time | divider | weather */
    grid-template-rows: 1fr;
    min-height: 80px;
}
/* Styling our visible divider div in between greeting & weather */
.divider {
    width: 2;
    background-color: #000;
    height: 100%;
    opacity: 50%;
}
/* "Apply 1.5rem padding to all direct div children of 'section' elements EXCEPT those with class 'divider' :D 
** To apply our Tailwind p-6 class styling to most cards (except Critical Task) */
section > div:not(.divider) {
    padding: 1.5rem; /* equivalent to p-6 (24px)*/
}
a {
    text-decoration: none;
    /* color: inherit; */
}
/* Desktop-first styling for navbar */
#desktop-nav {
    display: flex;
}
#mobile-nav {
    display: none;
    flex-direction: column;
}
#mobile-nav.show {
    display: flex;
}
#hamburger-btn {
    display: none;
}
/* .wrapper & .content stylings below give us the "sticky footer" at the bottom */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    /* Tells flex container's child to grow and take up all remaining space */
    flex: 1;
}
/* Is this needed? */
footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
.navbar {
    height: 3.5rem;
}
/* Currently used for critical-task-card stuff in JS (Added 02.04.25) && for making delete button appear on hover next to table rows */
.hidden {
    display: none;
}
/* Custom button stylings for both button & anchor attributes for consistency */
.button {
    display: inline-block;
    padding: 4px 10px;
    background-color: #eee; /* your actual button color */
    color: #000; /* your actual button text color */
    text-decoration: none;
    border: 1px solid #ccc; /* your actual button border */
    border-radius: 4px;
    cursor: pointer;
    max-width: fit-content;
}

/* Media queries for responsiveness */

/* Small screens only =>  Hide desktop nav & show hamburger button */
@media (width <= 640px) {
    #hamburger-btn { display: block; }
    #desktop-nav { display: none; }
}

@media (width > 640px) {
    #mobile-nav.show {
        display: none;
    }
}