@import 'tailwindcss';

.test {
    color: color-mod(red alpha(90%));
}
/* Able to group Tailwind stylings together for repeat usage, within @layer components here */
@layer components {
    .btn-primary {
        @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition;
    }
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
a {
    text-decoration: none;
    /* color: inherit; */
}
/* .wrapper & .content stylings below give us the "sticky footer" at the bottom */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    /* Tells flex container's child to grow and take up all remaining space */
    flex: 1;
}
footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
.navbar {
    height: 3.5rem;
}
/* Currently used for critical-task-card stuff in JS (Added 02.04.25) && for making delete button appear on hover next to table rows */
.hidden {
    display: none;
}
/* Custom button stylings for both button & anchor attributes for consistency */
.button {
    display: inline-block;
    padding: 4px 10px;
    background-color: #eee; /* your actual button color */
    color: #000; /* your actual button text color */
    text-decoration: none;
    border: 1px solid #ccc; /* your actual button border */
    border-radius: 4px;
    cursor: pointer;
    max-width: fit-content;
}
