<!-- View grocery items -->

{% extends "base.html" %}

{% block title %}Groceries{% endblock %}

{% block content %}
    <div class="wrapper">
        <table class="caption-top">
            <caption>
                Grocery - Products in my Inventory
            </caption>
            <thead>
                <tr>
                    {% for column_name in column_names1 %}
                    <th>{{ column_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>£{{ product.price }}</td>
                    <td>{{ product.net_weight }} grams</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="wrapper">
        <table class="caption-top">
            <caption>
                Lifetime Products Scanned In
            </caption>
            <thead>
                <tr>
                    {% for column_name in column_names2 %}
                    <th>{{ column_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_id }}</td>
                    <td>{{ transaction.product.product_name }}</td>
                    <td>{{ transaction.price_at_scan }}</td>
                    <td>{{ transaction.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('add_product')}}">
        <button>Add Product</button>
    </a>
{% endblock %}