<!-- View grocery items -->

<html>
<head>
    <title>Groceries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Vesper</span>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('grocery') }}">Groceries</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>Groceries Page for Vesper</h1>
        <table>
            <thead>
                <tr>
                    <th>Header 1</th>
                    <th>Header 2</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>£{{ product.price }}</td>
                    <td>{{ product.net_weight }} grams</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>