<!-- Main Dashboard UI -->

{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto overflow-x-auto px-4 sm:px-8 space-y-6 mt-10"> <!-- px-4 = 1rem left + right, sm:px-8 = wider padding on screens >= 640px -->
    <!-- Greeting & Time/Date Card -->
    <div class="bg-gray-200 p-6 rounded-xl shadow-lg">
        <h1 class="text-xl font-semibold mb-2">
            {% if now.hour < 12 %}
                Good morning!
            {% elif now.hour < 18 %}
                Good afternoon!
            {% else %}
                Good evening!
            {% endif %}
        </h1>

        <p><span id="time-display">{{ now.strftime("%H:%M:%S") }}</span> | {{ now.strftime("%A, %B %d") }}</p><br>
    </div>
    <!-- Anchor Habits Card -->
    <div class="bg-gray-200 p-6 rounded-xl shadow-lg">
        <h2 class="text-xl font-semibold mb-2">Anchor Habits</h2>
        <!-- Just print names in UL for now -->
        <ul>
        {% for anchor_habit in anchor_habits %}
            <li>
                <!-- REMINDER: We need to change the today thing so it just incl date and not specifically min/sec, cause then itll never equal -->
                <input type="checkbox"
                    {% if anchor_habit.is_done %}checked{% endif %}
                    onchange="markHabitComplete(this, {{ anchor_habit.id }})">
                <span class="text-sm bg-blue-100 text-blue-700 px-2 py-1 rounded {% if anchor_habit.is_done %}line-through text-gray-400{% endif %}"> <!-- UNSURE ABOUT THIS STYLING -->
                    {{ anchor_habit.title }}
                </span>
            </li>
        {% endfor %}
        </ul>

    </div>
    <!-- Critical Task Card -->
    <div class="bg-gray-200 p-6 rounded-xl shadow-lg">
        <h2 class="text-xl font-semibold mb-2">Critical Task</h2>
        <p>
            <span>Today's Intention: </span>
            <span class="relative group" id="critical-task-result" ondblclick="enableEdit()">
                <span class="text-green-600" id="critical-task-result-text">What's your focus today?</span>

                <!-- Tooltip -->
                <span class="absolute opacity-0 group-hover:opacity-100 bg-black text-white text-xs px-1 rounded whitespace-nowrap transition-opacity duration-150">
                    Double-click to edit
                </span>
            </span>
        </p>
        
        <div id="critical-task-edit" class="hidden">
            <input id="critical-task-text">
            <button class="button" id="critical-task-submit">submit</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}