<!-- Main Dashboard UI -->

{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>
        {% if now.hour < 12 %}
            Good morning!
        {% elif now.hour < 18 %}
            Good afternoon!
        {% else %}
            Good evening!
        {% endif %}
    </h1><br>

    <p>{{ now.strftime("%H:%M:%S") }} | {{ now.strftime("%A, %B %d") }}</p>

    <!-- Habits Display -->
    <div class="anchor-habits-card">
        <h2>Anchor Habits</h2>
        <!-- Just print names in UL for now -->
        <ul>
        {% for anchor_habit in anchor_habits %}
            <li>
                {{ anchor_habit.title }}
                <!-- REMINDER: We need to change the today thing so it just incl date and not specifically min/sec, cause then itll never equal -->
                <input type="checkbox"
                    {% if anchor_habit.completed_at == start_of_day_utc %}checked{% endif %}
                    onchange="markHabitComplete({{ anchor_habit.id }}, {{ anchor_habit.is_done }})">
            </li>
        {% endfor %}
        </ul>

    </div>
    <!-- Tether Card-->
    <div class="tether-card">
        <h2>Tether</h2>
        <p>
            <span>Today's Intention: </span>
            <span class="relative group" id="tether-result" ondblclick="enableEdit()">
                <span id="tether-result-text">[text]</span>

                <!-- Tooltip -->
                <span class="absolute opacity-0 group-hover:opacity-100 bg-black text-white text-xs px-1 rounded whitespace-nowrap transition-opacity duration-150">
                    Double-click to edit
                </span>
            </span>
        </p>
        
        <div id="tether-edit" class="hidden">
            <input id="tether-text">
            <button class="button" id="tether-submit">submit</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}