<nav>
    <div class="navbar-inner">

        <!-- LEFT: Branding & Links -->
        <div class="nav-container">
            <span class="branding">Vesper</span>

            <!-- Beginning hamburger menu -->
            <button id="hamburger-btn">
                ☰
            </button>
            <!-- Desktop nav links -->
            <div id="desktop-nav">
                {{ styles.nav_link('Home', 'main.home', request.endpoint) }}

                {% if current_user.is_authenticated %}
                    {{ styles.nav_link('Tasks', 'tasks.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Habits', 'habits.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Groceries', 'groceries.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Metrics', 'metrics.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Time Tracking', 'time_tracking.dashboard', request.endpoint) }}

                    {{ styles.nav_link('Logout', 'auth.logout', request.endpoint )}}
                {% endif %}
                
                {% if current_user.is_anonymous %}
                    {{ styles.nav_link('Login/Register', 'auth.login', request.endpoint) }}
                {% endif %}

            </div>
            <!-- Mobile nav links: Hidden by default -->
            <div id="mobile-nav">
                {{ styles.nav_link('Home', 'main.home', request.endpoint) }}

                {% if current_user.is_authenticated %}
                    {{ styles.nav_link('Tasks', 'tasks.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Habits', 'habits.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Groceries', 'groceries.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Metrics', 'metrics.dashboard', request.endpoint) }}
                    {{ styles.nav_link('Time Tracking', 'time_tracking.dashboard', request.endpoint) }}

                    {{ styles.nav_link('Logout', 'auth.logout', request.endpoint )}}
                {% endif %}
                
                {% if current_user.is_anonymous %}
                    {{ styles.nav_link('Login/Register', 'auth.login', request.endpoint) }}
                {% endif %}
            </div>
        </div>

        <!-- Temporary Home for some admin-only privileges -->
        
        <!-- Baby's first modal -->
        <button id="my-btn">⚙️</button>

        <dialog id="my-modal">
            <form method="dialog">
                <h3>Hey pal</h3>
                <p>My Modal Content</p>
                <button type="submit">Close</button>
            </form>
        </dialog>

        <!-- TODO: Fold this into our new cog wheel modal! -->
        {% if current_user.is_authenticated and (current_user.role == 'admin' or current_user.role == 'owner') %}
        <!-- RIGHT: Reset DB button, then System/Light/Dark toggle -->
        <form action="{{ url_for('main.reset_and_dev') }}" method="POST">
            <button type="submit" class="btn-secondary">reset_and_dev</button>
        </form>
        

        <!-- TODO: Finish this to implement custom dropdown(s) elsewhere => chiefly for theme then lang toggles -->
        {{ styles.my_select() }}

        {% endif %}

        <form class="color-picker">
            <fieldset>
                <!-- Legend here is good for accessibility (screen readers) -->
                <legend class="visually-hidden">Pick a theme</legend>
                
                <!-- Pivot this to fancier custom toggle (circle of moon/sun moves from one side to another when clicked) -->
                <select name="theme" id="theme" class="select-dropdown">
                    <option value="laptop">System</option>
                    <option value="sun">Light</option>
                    <option value="moon">Dark</option>
                </select>
            </fieldset>
        </form>
    </div>
</nav>