
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="card-dashboard card--narrower">
    <form action="{{ url_for('auth.login') }}" method="post" spellcheck="false">
        <input type="hidden" name="csrf_token" value="{{ g.csrf_token }}">
        <div class="form-column">
            <h3>Login:</h3>
            <div class="faded-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"
                        required minlength="3" maxlength="30" 
                        placeholder="johndoe">
            </div>
            <div class="faded-field">
                <label for="password">Password:</label>
                <div class="password-input-group">
                    <input type="password" id="password" name="password" 
                            required minlength="8" maxlength="50"
                            placeholder="••••••••">
                    <button type="button" data-password-toggle="password" class="btn-icon password-toggle">{{ ui.eye_slash_svg() }}</button>
                </div>
            </div>
            <label for="remember_user">
                <input type="checkbox" id="remember_user" name="remember_user">
                Remember for 30 days
            </label>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Log in</button>
                <a href="{{ url_for('main.home') }}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </form>

    <p>
        Don't have an account?
        <a href="{{ url_for('auth.register') }}" class="link-action">Sign up</a>
    </p>
</div>
{% endblock %}