
{% extends 'base.html' %}

{% block title %}Daily Metrics{% endblock %}

{% block content %}

{{ forms.metric_entry_modal(entry_date=current_date) }}
{{ forms.abtest_entry_modal() }}
{{ forms.abtrial_entry_modal(ab_tests) }}

<div id="metrics-chart-container"></div>

<div class="inline-flex-md">
    {% call ui.dropdown('Select Type') %}
        <button class="chart-type" data-type="weight">Weight</button>
        <button class="chart-type" data-type="steps">Steps</button>
        <button class="chart-type" data-type="calories">Calories</button>
        <button class="chart-type" data-type="sleep_duration_minutes">Sleep Duration</button>
    {% endcall %}

    {% call ui.dropdown('Select Timeframe') %}
        <button class="chart-range" data-range="1">Today</button>
        <button class="chart-range" data-range="7">7d</button>
        <button class="chart-range" data-range="30">30d</button>
    {% endcall %}
</div>

<section id="metrics-dashboard-table" class="card-dashboard">
    <div class="card-title">
        <h2>Daily Metric Entries</h2>
        {{ ui.plus_btn('daily_entries-entry-dashboard-btn') }}
        Last
        {% call ui.dropdown(daily_entries_params['range']) %}
            <button class="table-range" data-range="1" data-table="daily_entries">Today</button>
            <button class="table-range" data-range="7" data-table="daily_entries">7d</button>
            <button class="table-range" data-range="30" data-table="daily_entries">30d</button>
        {% endcall %}
        days
    </div>

    {% call(item, headers) ui.responsive_table('Daily Metric Entries', metric_headers, metrics, 'metrics', 'daily_entries', daily_entries_params, sortable=True) %}
    <td class="{{ headers[0].priority}}">{{ item.entry_datetime_label }}</td>
    <td class="{{ headers[1].priority}}">{{ item.weight_label }}</td>
    <td class="{{ headers[2].priority}}">{{ item.steps_label }}</td>
    <td class="{{ headers[3].priority}}">{{ item.wake_time_label }}</td>
    <td class="{{ headers[4].priority}}">{{ item.sleep_time_label }}</td>
    <td class="{{ headers[5].priority}}">{{ item.calories_label }}</td>
    {% endcall %}
</section>

<section class="card-dashboard">
    <div class="card-title">
        <h2>Experiments</h2>
        {{ ui.plus_btn('ab_tests-entry-dashboard-btn') }}
    </div>
    <button id="ab_trials-entry-dashboard-btn" class="btn btn-primary">Add ABTrial</button>
    {% for test in ab_tests %}
        <p>
            Title: {{ test.title }}<br>
            Hypothesis: {{ test.title }}<br>
            Variant A: {{ test.title }}<br>
            Variant B: {{ test.title }}<br>
            Success Condition: {{ test.success_condition }}
        </p>
    {% endfor %}
</section>
{% endblock %}

{% block scripts %}{% endblock %}