<!-- Base Class Template -->

<!DOCTYPE html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vesper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Vesper</span>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item {% if request.path == '/grocery' %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('grocery') }}">Groceries</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <footer>
        <p>&copy; 2025</p>
    </footer>
</body>
</html>