<!-- Main Dashboard UI -->

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home page!</h1>
    <p>Main dashboard page for Vesper</p>
{% endblock %}

<!--
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
</head>
    <body>
        <h1>Home page!</h1>
        <p>Main splash page for Vesper</p>
        <p>{{time_display}}</p>
        <p>{{date_display}}</p>
    </body>
</html>
-->