{% extends "base.html" %}

{% block title %}Add Habit{% endblock %}

{% block content %}
    <h2 class="text-lg font-semibold px-2 mb-4 border-b pb-2">Add new habit:</h2>
    <div class="bg-white shadow-lg rounded-xl p-6 max-w-lg mx-auto mt-8 border border-gray-200">
        <form method="POST">

            <div class="form-group">
                <label for="title">Habit:</label>
                <input type="text" id="title" name="title" class="{{ styles.input_classes() }}" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select name="category" class="{{ styles.input_classes() }}" required>
                    <option value="">-- Category --</option>
                    <option value="health">Health</option>
                    <option value="learning">Learning</option>
                    <option value="work">Work</option>
                    <option value="personal">Personal</option>
                    <!-- Household: stuff like walking your dog, cleaning the kitchen, paying taxes..? Need a better term/name -->
                    <option value="household">Household</option>
                    <option value="misc">Misc.</option>
                </select>
            </div>

            <button class="{{ styles.submit_classes() }}" type="submit">Submit</button>
        
        </form>
    </div>
{% endblock %}