{% extends "base.html" %}

{% block title %}Habits{% endblock %}

{% block content %}

{{ forms.habit_entry_modal() }}
{{ forms.leetcode_entry_modal() }}

<div id="habits-chart-container"></div>

{% call ui.dropdown('Select Window') %}
    <button class="chart-range" data-range="1">Today</button>
    <button class="chart-range" data-range="7">7d</button>
    <button class="chart-range" data-range="30">30d</button>
{% endcall %}

<div class="card-dashboard">
    <div class="card-title">
        <h2>Habits</h2>
        {{ ui.plus_btn('habits-entry-dashboard-btn') }}
    </div>
    
    {% call(item, headers) ui.responsive_table('Habits', habits_headers, habits, 'habits', 'habits', habits_sort, habits_order) %}
        <td class="{{ headers[0].priority}} editable-cell" data-item-id="{{ item.id }}" data-module="habits" data-subtype="habits" data-field="name" data-tip="Double-click to edit field.">{{ item.name }}</td>
        <td class="{{ headers[1].priority}}">{{ item.status_label }}</td>
        <td class="{{ headers[2].priority}}">{{ item.created_at_label }}</td>
    {% endcall %}
</div>

<div class="card-dashboard">
    <div class="card-title">
        <h2>LeetCode Records</h2>
        {{ ui.plus_btn('leet_code_records-entry-dashboard-btn') }}
        Last 
        {% call ui.dropdown(selected_range or 'Select Timeframe') %}
            <button class="table-range" data-range="1">Today</button>
            <button class="table-range" data-range="7">7d</button>
            <button class="table-range" data-range="30">30d</button>
        {% endcall %}
        days
    </div>

    {{ sort_order }}
    {% call(item, headers) ui.responsive_table('LC Records', lcrecords_headers, lcrecords, 'habits', 'leet_code_records', records_sort, records_order) %}
        <td class="{{ headers[0].priority }}">{{ item.leetcode_id }}</td>
        <td class="{{ headers[1].priority }}">{{ item.title_label }}</td>
        <td class="{{ headers[2].priority }}">{{ item.difficulty_label }}</td>
        <td class="{{ headers[3].priority }}">{{ item.language_label }}</td>
        <td class="{{ headers[4].priority }}">{{ item.status_label }}</td>
    {% endcall %}
</div>
{% endblock %}

{% block scripts %}{% endblock %}