{% extends "base.html" %}

{% block title %}Habits{% endblock %}

{% block content %}
<div class="{{ styles.dashboard_container_classes() }}">
    <div class="{{ styles.dashboard_card_classes() }}">
        <h2 class="text-lg font-semibold mb-2">Habits</h2>
        <table class="{{ styles.table_classes() }}">
            <caption class="sr-only">Habits</caption>
            <thead class="bg-gray-800 text-white font-semibold">
                <tr>
                    {% if is_dev %}
                        <th class="{{ styles.th_classes() }}">ID</th>
                    {% endif %}
                    <th class="{{ styles.th_classes() }}">Title</th>
                    <th class="{{ styles.th_classes() }}">Category</th>
                    <th class="{{ styles.th_classes() }}">Created</th>
                </tr>
            </thead>
            <tbody>
                {% if habits %}
                    {% for habit in habits %}
                    <tr class="{{ styles.tr_classes() }}" data-item-id="{{ habit.id }}" data-module="habits" data-subtype="none">
                        {% if is_dev %}
                            <td class="{{ styles.td_classes() }}">{{ habit.id }}</td>
                        {% endif %}
                        <td class="editable-cell {{ styles.td_classes() }}" data-item-id="{{ habit.id }}" data-module="habits" data-field="title" title="Double-click to edit field."
                        >{{ habit.title }}</td>
                        <td class="{{ styles.td_classes() }}">{{ habit.category|capitalize }}</td>
                        <td class="{{ styles.td_classes() }}">{{ habit.created_at.strftime("%d.%m.%Y") }}</td>
                        <td class="{{ styles.td_classes() }} bg-gray-200 border-transparent">
                            {{ styles.delete_btn() }}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center text-gray-500 italic py-2">
                            No habits yet.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('habits.habits') }}" class="mb-2 {{ styles.btn_classes() }}">
        Add New Habit
    </a>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/habits/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/common/tables.js') }}"></script>
{% endblock %}