{% extends 'base.html' %}

{% block title %}Time Tracking{% endblock %}

{% block content %}

{{ ui.time_entry_modal() }}

<div class="charts-container">

    <div class="card-dashboard">
        {{ time_entries_graph|safe }}
    </div>
</div>


<section id="activity-log-card" class="card-dashboard">
    <div class="card-header">
        <h2 class="card-title">Time Entries</h2>
        <button id="time-entry-dashboard-btn" class="btn btn-primary">Add Time Entry</button>
    </div>
    {% call(item, headers) ui.responsive_table('Time Entries', time_entry_headers, time_entries, 'time_tracking', 'timeentry') %}
    <td class="{{ headers[0].priority }}">{{ item.category }}</td>
    <td class="{{ headers[1].priority }}">{{ item.duration_label }}</td>
    <td class="{{ headers[2].priority }}">{{ item.started_at_local }}</td>
    <td class="{{ headers[3].priority }}">{{ item.desc_label }}</td>
    {% endcall %}
</section>
{% endblock %}