{# Base Class Template #}

{% import '_partials/_ui.html' as ui %}
{% import '_partials/_forms.html' as forms with context %}
<!DOCTYPE html>
<html
    lang="{{ 'en' }}"
    {% set data_page = request.endpoint %}
    {% if request.endpoint == 'main.home' and not current_user.is_authenticated %}
        {% set data_page = "main.landing_page" %}
    {% endif %}
    data-page="{{ data_page }}"
    data-authenticated="{{ 'true' if current_user.is_authenticated else 'false' }}"
    >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vesper{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/favicons/favicon.png') }}">
    {% if vite_dev %}
        <link rel="stylesheet" href="{{ config['VITE_DEV_SERVER'] }}/app/static_src/css/app.css">
        <script type="module" src="{{ config['VITE_DEV_SERVER'] }}/@vite/client"></script>
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/app') }}">
        <link rel="stylesheet" href="{{ asset('js/app.css') }}">
    {% endif %}

    {# Set data-theme value so CSS can apply theme from cookie #}
    {# Waiting on JS elsewhere results in "flash" of incorrect theme on page load #}
    <script nonce="{{ nonce }}">
        (() => {
            window.csrfToken = "{{ g.csrf_token }}";
        })();
        (function () {
            const cookie = document.cookie;
            if (cookie.includes('theme=light')) {
                document.documentElement.setAttribute('data-theme', 'light');
            } else if (cookie.includes('theme=dark')) {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                // no cookie
            }
        })();
    </script>
</head>
{# Backend set_toast() pushes messsage + type here, which JS reads on page load #}
<body data-toast='{{ session.pop("toast", None) | tojson | safe }}'>
    <div class="wrapper {% block wrapper_mod %}{% endblock %}">
        <header class="header">
            {% include '_partials/_navbar.html' with context %}
        </header>

        <div popover="manual" id="tooltip"></div>
        {{ ui.confirmation_modal() }}
        {{ ui.toast_container() }}
        {{ ui.badges_svgs() }}

        {% block sidebar_left %}{% endblock %}
        {% block sidebar_right %}
        {% include '_partials/_profile_sidebar.html' %}
        {% endblock %}
        <main class="content {% block content_mod %}{% endblock %}">
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            &copy; 2025
        </footer>
    </div>

    {% if vite_dev %}
        <script type="module" src="{{ config['VITE_DEV_SERVER'] }}/app/static_src/js/app.ts"></script>
    {% else %}
        <script type="module" src="{{ asset('js/app') }}"></script>
    {% endif %}
    {% block scripts %}{% endblock %}
    
</body>
</html>