{# Base Class Template #}

{% import '_partials/_ui.html' as ui %}
{% import '_partials/_forms.html' as forms %}
<!DOCTYPE html>
<html lang="{{ default_lang or 'en' }}" data-page="{{ request.endpoint }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vesper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/favicons/favicon.png') }}">
    {# Sets data-theme value so CSS can apply proper theme from cookie BEFORE the page is fully loaded #}
    {# Prevents the "flash" of the incorrect theme on page load #}
    <script nonce="{{ nonce }}">
        (function () {
            const cookie = document.cookie;
            if (cookie.includes('theme=light')) {
                document.documentElement.setAttribute('data-theme', 'light');
            } else if (cookie.includes('theme=dark')) {
                document.documentElement.setAttribute('data-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'system');
            }
        })();
    </script>
</head>
{# Ditching flash() entirely, now we can just make redir routes push needed toast info to session & pull from that #}
<body data-toast='{{ session.pop("toast", None) | tojson | safe }}'>
    <div class="wrapper">
        <header>
            {% include '_partials/_navbar.html' with context %}
        </header>

        {{ ui.confirmation_modal() }}
        {{ ui.toast_container() }}

        <main class="content {% block content_mod %}{% endblock %}">
            {% block content %}{% endblock %}
        </main>

        <footer class="bg-muted">
            &copy; 2025
        </footer>
    </div>

    {# Site-wide scripts BEFORE the script block -> run everywhere #}
    <script type="module" src="{{ url_for('static', filename = 'js/bundle.js') }}"></script>
    {% block scripts %}{% endblock %}
    
</body>
</html>