{# Main Dashboard UI #}

{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content_mod %}content--narrow{% endblock %}

{% block content %}

{# Modals #}
{{ forms.task_entry_modal('tasks-entry-homepage', 'Add Task') }}
{{ forms.habit_entry_modal('habits-entry-homepage', 'Add Habit') }}
{{ forms.metric_entry_modal('daily_entries-entry-homepage', 'Add Metric Entry', entry_date=current_date) }}
{{ forms.time_entry_modal('time_entries-entry-homepage', 'Add Time Entry', current_date=current_date) }}
{{ forms.leetcode_entry_modal() }}

<div id="confetti-layer"></div>

{# Greeting & Time/Date Card #}
<section id="greeting-card" class="card-dashboard">
    <div class="card-title">
        <h2>
            {% if current_user.is_authenticated %}
                {{ greeting }}, {{ current_user.name if current_user.name else "Guest" }}!
            {% else %}
                {{ greeting }}
            {% endif %}
        </h2>
    </div>

    <canvas id="sky-canvas"></canvas>

    <div class="greeting-content">
        <p><span id="time-display">{{ now_time }}</span> | {{ now_date }}</p>
        <div class="weather-info">
            <div id="weather-temp"></div>
            <div id="weather-sunset"></div>
        </div>
    </div>
</section>

{# "My Day" Card #}
<section id="my-day-card" class="card-dashboard _grid-2col">
    <div class="card-title">
        <h2>My Day</h2>
        {{ ui.plus_btn('tasks-entry-homepage-btn', 'Add Task') }}
        {% call ui.dropdown('Quick Add', replaceable=False) %}
            <button id="time_entries-entry-homepage-btn">Time Entry</button>
            <button id="daily_entries-entry-homepage-btn">Metric Entry</button>
            <button id="leet_code_records-entry-homepage-btn">LeetCode Record</button>
        {% endcall %}
    </div>

    <div>
        <span class="highlight-label">Today's Frog: </span>
        <span>
            {{ today_frog.name if today_frog else "" }}
        </span>
        <ul class="item-list">
        {% for task in filtered_tasks %}
            <li class="item {% if task.is_done %}completed{% endif %}">
                <label class="item-row">
                    <input  type="checkbox" class="task-checkbox" data-task-id="{{ task.id }}"
                        {% if task.is_done %}checked{% endif %}>
                    <span class="item-title">{{ task.name }}</span>
                </label>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="tasks-progress">
        <div class="progress-bar">
            <div class="progress-bar-fill"
            data-completed="{{ tasks_progress.completed }}"
            data-total="{{ tasks_progress.total }}"
            data-percent="{{ tasks_progress.percent }}"
            >
            </div>
        </div>
        <p>Today:
            <span class="progress-text">{{ tasks_progress[2] }} of {{ tasks_progress[3] }}</span>
        </p>
    </div>

</section>

{# Daily Habits Card #}
<section id="daily-habits-card" class="card-dashboard _grid-2col">
    <div class="card-title">
        <h2>Daily Habits</h2>
        {{ ui.plus_btn('habits-entry-homepage-btn', 'Add Habit') }}
    </div>
    <div>
        <ul class="item-list">
        {% for habit in habits %}
            <li class="item {% if habit_info[habit.id].completed_today %}completed{% endif %}">
                <label class="item-row">
                    <input  type="checkbox" class="habit-checkbox" data-habit-id="{{ habit.id }}"
                        {% if habit_info[habit.id].completed_today %}checked{% endif %}>
                    <span class="item-title">{{ habit.name }}</span>
                    <span class="habit-streak" data-streak-count="{{ habit_info[habit.id].streak_count }}">
                        {% if habit_info[habit.id].streak_count > 0 %}🔥{{ habit_info[habit.id].streak_count }}{% endif %}
                    </span>
                </label>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="habits-progress">
        <div class="progress-bar">
            <div class="progress-bar-fill"
            data-completed="{{ habits_progress.completed }}"
            data-total="{{ habits_progress.total }}"
            data-percent="{{habits_progress.percent }}"
            >
            </div>
        </div>
        <p>This week:
            <span class="progress-text">{{ habits_progress[2] }} of {{ habits_progress[3] }}</span>
        </p>
    </div>
</section>

{% endblock %}

{% block scripts %}{% endblock %}