
{% extends 'base.html' %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}
<div class="error-page">
    <div class="icon-wiggle animate-wiggle">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="titleId descId">
            <title id="titleId">Under construction barrier</title>
            <desc id="descId">Orange and black striped barrier used for the 404 error page</desc>
            <path fill="#FFCC4D" d="M24 10V4.7A2.7 2.7 90 0021.3 2H2.7A2.7 2.7 90 000 4.7V10a2.7 2.7 90 002.7 2.7H21.3A2.7 2.7 90 0024 10Z"></path>
            <path d="M4 2H2.67A2.67 2.67 90 000 4.67V6l4-4zm4 0-8 8c0 .91.45 1.71 1.15 2.19L11.33 2H8zM4.67 12.67H8L18.67 2h-3.33zm10.67 0 8.6-8.6A2.66 2.66 90 0022.43 2.24L12 12.67h3.33zM24.01 10V8l-4.67 4.67h2A2.67 2.67 90 0024.01 10z" fill="#292F33"></path>
            <path fill="#99AAB5" d="M2.67 12.67H6V22H2.67zm15.33 0h3.33V22H18z"></path>
        </svg>
    </div>
    <h1>404</h1>
    <p>
        Nice try. That page doesn't exist.
    </p>

    {{ ui.error_link('Back to Safety', 'main.home') }}
</div>

{% endblock %}