<!-- Main Dashboard UI -->

{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Main Dashboard</h1><br><br>

    <div class="tether-card">
        <h2>Tether</h2>

        <label>If I do one thing today, it'll be: </label>
        <p id="tether-result">Test</p>
        <input id="tether-text">
        <button id="tether-submit">submit</button>

    </div>
    
    <p>{{time_display}}</p>
    <p>{{date_display}}</p>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}