<!-- Main Dashboard UI -->

{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Main Dashboard</h1><br>
    <p>{{time_display}} | {{date_display}}</p>

    <!-- Habits Display -->
    <div class="anchor-habits-card">
        <h2>Anchor Habits</h2>
        <!-- Just print names in UL for now -->
        <ul>
        {% for anchor_habit in anchor_habits %}
            <li>
                {{ anchor_habit.title }}
                <input type="checkbox" 
                    {% if anchor_habit.completed_at == today %}checked{% endif %}
                    onchange="markHabitComplete({{ anchor_habit.id }})">
            </li>
        {% endfor %}
        </ul>

    </div>
    <!-- Tether Card-->
    <div class="tether-card">
        <h2>Tether</h2>
        <label>If I do one thing today, it'll be: </label>
        <p id="tether-result">Test</p>
        <input id="tether-text">
        <button class="button" id="tether-submit">submit</button>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}