{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}
    <h2 class="text-lg font-semibold px-2 mb-4 border-b pb-2">Add new task:</h2>
    <div class="bg-white shadow-lg rounded-xl p-6 max-w-lg mx-auto mt-8 border border-gray-200">
        <form method="POST">

            <div class="mb-4">
                <label for="title">Task:</label><br>
                <input 
                    type="text"
                    id="title" 
                    name="title"
                    class="{{ input_classes }}"><br> <!-- Now here we can reference input_classes styling which is defined in our base.html -->
            </div>
            <div class="mb-4">
                <label for="type">Type:</label><br>
                <select name="type" class="{{ input_classes }}"> <!-- Again, referencing styling from base.html -->
                    <option value="todo">ToDo</option>
                    <option value="habit">Habit</option>
                </select><br>
            </div>
            <div class="mb-4 flex items-center">
                <input type="checkbox" name="is_anchor" value="True" class="mr-2 accent-blue-600 w-4 h-4">
                <label for="anchor" class="font-medium text-gray-700 block mb-1">Anchor Habit?</label>
            </div>
            <div class="mb-4">
                <button class="{{ submit_classes }}" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock %}