{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

{{ forms.task_entry_modal() }}

<div class="card-dashboard" id="tasks-dashboard-table">
    <div class="card-title">
        <h2>Tasks</h2>
        <button id="task-entry-dashboard-btn" class="btn btn-primary btn-icon">{{ ui.plus_svg() }}</button>
    </div>
    {% call(item, headers) ui.responsive_table('Tasks', task_headers, tasks, 'tasks', 'none') %}
        <td class="{{ headers[0].priority }} editable-cell tooltip" data-item-id="{{ item.id }}" data-module="tasks" data-field="name" data-tip="Double-click to edit field.">{{ item.name }}</td>
        <td class="{{ headers[1].priority }}">
            {# TODO: NOTES: |safe here to render HTML entities instead of escaping them #}
            {{ ('&#9745;' if item.is_done else '&#9744;') | safe }}
        </td>
        <td class="{{ headers[2].priority }}">{{ item.priority.value }}</td>
        <td class="{{ headers[3].priority }} text-right">{{ item.due_label }}</td>
    {% endcall %}
</div>

{% endblock %}

{% block scripts %}{% endblock %}