{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

{{ forms.task_entry_modal() }}

<div id="tasks-dashboard-table" class="card-dashboard">
    <div class="card-title">
        <h2>Tasks</h2>
        {{ ui.plus_btn('tasks-entry-dashboard-btn') }}
    </div>
    {% call(item, headers) ui.responsive_table('Tasks', task_headers, tasks, 'tasks', 'tasks', tasks_params, sortable=True) %}
        <td class="{{ headers[0].priority }}" data-item-id="{{ item.id }}" data-module="tasks" data-subtype="tasks" data-field="name"
            data-tip="Double-click to edit task name.">
            <span class="name-span editable-cell">
                {{ item.name }}
            </span>
            <span class="btn-lg status-span {% if item.is_done %}is-done{% endif %}">
                {{ ui.checkmark_svg() }}
            </span>
        </td>
        <td class="{{ headers[1].priority }}">{{ item.priority_label }}</td>
        <td class="{{ headers[2].priority }}">{{ item.frog_label }} </td>
        <td class="{{ headers[3].priority }} text-right">{{ item.due_label }}</td>
    {% endcall %}
</div>

{% endblock %}

{% block scripts %}{% endblock %}