<!-- Page to add new product if it doesn't exist yet -->

{% extends "base.html" %}

{% block title %}Add New Product{% endblock %}

{% block content %}
    <h2 class="text-lg font-semibold px-2 mb-4 border-b pb-2">Add new product:</h2>
    <div class="bg-white shadow-lg rounded-xl p-6 max-w-lg mx-auto mt-8 border border-gray-200">
        <form method="POST">
            <div class="mb-4">
                <label for="barcode">Barcode:</label>
                <input type="text" id="barcode" name="barcode"
                    class="{{ styles.input_classes() }}">
            </div>
            <div class="mb-4">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name"
                    class="{{ styles.input_classes() }}">
            </div>
            <div class="mb-4">
                <label for="net_weight">Net Weight:</label>
                <input type="text" id="net_weight" name="net_weight"
                    class="{{ styles.input_classes() }}">
            </div>
            <div class="mb-4">
                <button class="{{ styles.submit_classes() }}" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}