{# Page to log a new transaction #}

{% extends "base.html" %}

{% block title %}Log New Transaction{% endblock %}

{% block content %}

<div class="card-dashboard">
    <form method="POST" class="grocery-form">
        <fieldset>
            <legend>Add new transaction</legend>
            <div class="form-group">
                <label for="barcode">Barcode:</label>
                <input type="text" id="barcode" name="barcode"
                    value="{{ transaction_data.barcode if transaction_data else ''}}"
                    minlength="8" maxlength="14"
                    placeholder="Scan or enter barcode"
                    required>
            </div>
            <div class="form-group {% if not show_product_fields %}_hidden{% endif %}">
                <label for="name">Product Name</label>
                <input type="text" id="name" name="name"
                    {% if not show_product_fields%}disabled{% endif %}>
            </div>
            <div class="form-group">
                <label for="price_at_scan">Price (each):</label>
                <input type="number" step="0.01" min="0" id="price_at_scan" name="price_at_scan"
                    value="{{ transaction_data.price_at_scan if transaction_data else '' }}"
                    required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" step="1" min="1" id="quantity" name="quantity"
                    value="{{ transaction_data.quantity if transaction_data else '' }}"
                    required>
            </div>
            {# net_weight, category, unit_type, & cals per 100g are all to be conditionally shown depending on whether we need to add_product from here #}
            {# Add hidden to not show via Jinja (CSS class) but also disabled (HTML attr) to the input so it sends nothing #}
            <div class="form-group {% if not show_product_fields %}_hidden{% endif %}">
                <label for="category">Category</label>
                <select name="category" id="category" 
                    {% if not show_product_fields%}disabled{% endif %}>
                    <option value="" disabled selected>-- Category --</option>
                    <option value="fruits">Fruits</option>
                    <option value="vegetables">Vegetables</option>
                    <option value="legumes">Legumes</option>
                    <option value="grains">Grains</option>
                    <option value="bakery">Bakery</option>
                    <option value="dairy_eggs">Dairy & Eggs</option>
                    <option value="meats">Meats</option>
                    <option value="seafood">Seafood</option>
                    <option value="fats_oils">Fats & Oils</option>
                    <option value="snacks">Snacks</option>
                    <option value="sweets">Sweets</option>
                    <option value="beverages">Beverages</option>
                    <option value="condiments_sauces">Condiments & Sauces</option>
                    <option value="processed_convenience">Processed/Convenience</option>
                    <option value="supplements">Supplements</option>
                </select>
            </div>
            <div class="form-group {% if not show_product_fields %}_hidden{% endif %}">
                <label for="net_weight">Net Weight:</label>
                <input type="number" step="0.01" min="0" id="net_weight" name="net_weight"
                    {% if not show_product_fields%}disabled{% endif %}>
            </div>
            <div class="form-group {% if not show_product_fields %}_hidden{% endif %}">
                <label for="unit_type">Units:</label>
                <select name="unit_type" id="unit_type" 
                    {% if not show_product_fields%}disabled{% endif %}>
                    <option value="" disabled selected>-- Units --</option>
                    <option value="g">g (grams)</option>
                    <option value="kg">kg (kilograms)</option>
                    <option value="oz">oz (ounces)</option>
                    <option value="lb">lb (pounds)</option>
                    <option value="ml">ml (milliliters)</option>
                    <option value="l">l (liters)</option>
                    <option value="fl_oz">fl oz (fluid ounces)</option>
                </select>
            </div>
            <div class="form-group {% if not show_product_fields %}_hidden{% endif %}">
                <label for="calories_per_100g">Cals per 100g:</label>
                <input type="number" step="0.1" min="0" max="900" id="calories_per_100g" name="calories_per_100g"
                    {% if not show_product_fields%}disabled{% endif %}>
            </div>
            <div class="form-actions">
                <button type="submit" name="action" value="submit" class="btn btn-primary">Submit</button>
                <a href="{{ url_for('groceries.dashboard') }}" class="btn btn-secondary">Cancel / Return</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block scripts %}{% endblock %}