<!-- Page to add new product if it doesn't exist yet -->

{% extends "base.html" %}

{% block title %}Add New Product{% endblock %}

{% block content %}
<!-- <h2 class="text-lg font-semibold px-2 mb-4 border-b pb-2">Add new product:</h2> -->
<div class="dashboard-card">
    <form method="POST">
        <fieldset>
            <legend>Add new product:</legend>
            <div class="form-group">
                <label for="barcode">Barcode:</label>
                <input type="text" id="barcode" name="barcode"
                    minlength="8" maxlength="14"
                    pattern="[0-9]{8,14}"
                    title="Barcode must be 8-14 digits only"
                    class="input-standard" required
                    placeholder="Scan or enter barcode">
            </div>
            <div class="form-group">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name"
                    class="input-standard">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category" class="input-standard" required>
                    <option value="">-- Category --</option>
                    <option value="drink">Drink</option>
                    <option value="energy_drink">Energy Drink</option>
                    <option value="produce">Produce</option>
                    <option value="dairy">dairy</option>
                    <option value="grain">Grain</option>
                    <option value="oil_fat">Oil/Fat</option>
                    <option value="nut">Nuts</option>
                    <option value="meat">Meat</option>
                    <option value="junk_food">Junk Food</option>
                    <option value="condiments_and_sauces">Condiment/Sauce</option>
                </select>
            </div>
            <div class="form-group">
                <label for="net_weight">Net Weight:</label>
                <input type="text" id="net_weight" name="net_weight"
                    class="input-standard">
            </div>
            <div class="form-group">
                <label for="unit_type">Units:</label>
                <select name="unit_type" id="unit_type" class="input-standard" required>
                    <option value="">-- Units --</option>
                    <option value="g">g (grams)</option>
                    <option value="kg">kg (kilograms)</option>
                    <option value="oz">oz (ounces)</option>
                    <option value="lb">lb (pounds)</option>
                    <option value="ml">ml (milliliters)</option>
                    <option value="l">l (liters)</option>
                    <option value="fl_oz">fl oz (fluid ounces)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="calories_per_100g">Cals per 100g:</label>
                <input type="text" id="calories_per_100g" name="calories_per_100g"
                    class="input-standard">
            </div>
            <a href="{{ url_for('groceries.dashboard') }}" class="btn-secondary">Cancel / Return</a>
            <button class="btn-primary" type="submit" name="action" value="save">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/groceries/forms.js') }}"></script>
{% endblock %}