
{% extends "base.html" %}

{% block title %}Groceries{% endblock %}

{% block content %}

{# Modals #}
{{ forms.product_entry_modal() }}
{{ forms.transaction_entry_modal(products_list) }}

{# So JS can clone from template to append li's #}
<template id="shoppinglist-item-template">
    <li class="shoppinglist-item _inline-flex-md" data-product-id="" data-item-id="" data-quantity-wanted="">
        <button class="btn-icon btn-round inline-delete" data-action="delete" aria-label="Remove shopping list item">{{ ui.x_svg() }}</button>
        <span class="item-text"></span>
        <span class="qty-controls">
            <span>&nbsp;&nbsp;&nbsp;--</span>
            <button data-action="decrement" aria-label="Decrement item quantity">{{ ui.minus_svg() }}</button>
            <span class="item-qty-wrapper">
                <span class="item-qty"></span><span></span>
            </span>
            <button data-action="increment" aria-label="Increment item quantity">{{ ui.plus_svg() }}</button>
        </span>
    </li>
</template>

<div class="card-dashboard">
    <div class="card-title">
        <h2>Shopping List</h2>
    </div>
    <ul class="shopping-list">
    {% if shopping_list.items %}
        {% for item in shopping_list.items %}
            <li class="shoppinglist-item _inline-flex-md" data-product-id="{{ item.product_id }}" data-item-id="{{ item.id }}" data-quantity-wanted="{{ item.quantity_wanted }}">
                <button class="btn-icon btn-round inline-delete" data-action="delete" aria-label="Remove shopping list item">{{ ui.x_svg() }}</button>
                <span class="item-text">{{ item.product.name }}</span>
                <span class="qty-controls">
                    <span>&nbsp;&nbsp;&nbsp;--</span>
                    <button data-action="decrement" aria-label="Decrement item quantity">{{ ui.minus_svg() }}</button>
                    <!-- Wrapper here so quantity+'x' remain one unit (ex: 3x instead of 3 x) -->
                    <span class="item-qty-wrapper">
                        <span class="item-qty">{{ item.quantity_wanted }}</span><span>x</span>
                    </span>
                    <button data-action="increment" aria-label="Increment item quantity">{{ ui.plus_svg() }}</button>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if not shopping_list.items %}
        <p id="list-empty">No items in your shopping list yet.</p>
    {% endif %}
</div>


<div class="card-dashboard">
    <div class="card-title">
        <h2>Grocery - Recent Transactions</h2>
        {{ ui.plus_btn('transaction-entry-dashboard-btn') }}
    </div>
    {% call(item, headers) ui.responsive_table('Recent Transactions', transaction_headers, transactions, 'groceries', 'transactions') %}
    <td class="{{ headers[0].priority }}">{{ item.product_name }}</td>
    <td class="{{ headers[1].priority }} _text-right">{{ item.price_label }}</td>
    <td class="{{ headers[2].priority }} _text-right">{{ item.price_per_100g_label }}</td>
    <td class="{{ headers[3].priority }} _text-right">{{ item.created_at_label }}</td>
    {% endcall %}
</div>

<div class="card-dashboard">
    <div class="card-title">
        <h2>Product Catalog</h2>
        {{ ui.plus_btn('product-entry-dashboard-btn') }}
    </div>
    {% call(item, headers) ui.responsive_table('Product Catalog', product_headers, products, 'groceries', 'products') %}
        <td class="{{ headers[0].priority }}">{{ item.barcode_label }}</td>
        <td class="{{ headers[1].priority }}">{{ item.name }}</td>
        <td class="{{ headers[2].priority }} _text-right">{{ item.category_label }}</td>
        <td class="{{ headers[3].priority }} _text-right">{{ item.net_weight_label }}</td>
        <td class="{{ headers[4].priority }} _text-right">{{ item.calories_label }}</td>
    {% endcall %}
</div>
{% endblock %}

{% block scripts %}{% endblock %}