
{% extends "base.html" %}

{% block title %}Groceries{% endblock %}

{% block content %}

{{ forms.product_entry_modal(list=l_category_options) }}
{{ forms.transaction_entry_modal(l_products_for_dropdown, list=l_category_options) }}

{# So JS can clone from template to append li's #}
<template id="shoppinglist-item-template">
    <li class="shoppinglist-item inline-flex-md" data-product-id="" data-item-id="" data-quantity-wanted="">
        <button class="btn-icon btn-round inline-delete" data-action="delete" aria-label="Remove shopping list item">{{ ui.x_svg() }}</button>
        <span class="item-text"></span>
        <span class="qty-controls">
            <span>&nbsp;&nbsp;&nbsp;--</span>
            <button data-action="decrement" aria-label="Decrement item quantity">{{ ui.minus_svg() }}</button>
            <span class="item-qty-wrapper">
                <span class="item-qty"></span><span></span>
            </span>
            <button data-action="increment" aria-label="Increment item quantity">{{ ui.plus_svg() }}</button>
        </span>
    </li>
</template>

<div class="card-dashboard">
    <div class="card-title">
        <h2>Shopping List</h2>
    </div>
    <ul class="shopping-list">
    {% if o_shopping_list.items %}
        {% for o_item in o_shopping_list.items %}
            <li class="shoppinglist-item inline-flex-md" data-product-id="{{ o_item.product_id }}" data-item-id="{{ o_item.id }}" data-quantity-wanted="{{ o_item.quantity_wanted }}">
                <button class="btn-icon btn-round inline-delete" data-action="delete" aria-label="Remove shopping list item">{{ ui.x_svg() }}</button>
                <span class="item-text">{{ o_item.product.name }}</span>
                <span class="qty-controls">
                    <span>&nbsp;&nbsp;&nbsp;--</span>
                    <button class="btn-icon" data-action="decrement" aria-label="Decrement item quantity">{{ ui.minus_svg() }}</button>
                    <!-- Wrapper here so quantity+'x' remain one unit (ex: 3x instead of 3 x) -->
                    <span class="item-qty-wrapper">
                        <span class="item-qty">{{ o_item.quantity_wanted }}</span><span>x</span>
                    </span>
                    <button data-action="increment" aria-label="Increment item quantity">{{ ui.plus_svg() }}</button>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if not o_shopping_list.items %}
        <p id="list-empty">No items in your shopping list yet.</p>
    {% endif %}
</div>


<div class="card-dashboard">
    <div class="card-title">
        <h2>Grocery - Recent Transactions</h2>
        {{ ui.plus_btn('transactions-entry-dashboard-btn') }}
        Last
        {% call ui.dropdown(d_transactions_params['range']) %}
            <button class="table-range" data-range="1" data-table="transactions">Today</button>
            <button class="table-range" data-range="7" data-table="transactions">7d</button>
            <button class="table-range" data-range="30" data-table="transactions">30d</button>
        {% endcall %}
        days
    </div>
    {% call(o_item, l_headers) ui.responsive_table('Recent Transactions', l_transaction_headers, l_transactions_for_table, 'groceries', 'transactions', d_transactions_params, sortable=True) %}
    <td class="{{ l_headers[0].priority }}">{{ o_item.product_name }}</td>
    <td class="{{ l_headers[1].priority }} text-right">{{ o_item.price_label }}</td>
    <td class="{{ l_headers[2].priority }} text-right">{{ o_item.price_per_100g_label }}</td>
    <td class="{{ l_headers[3].priority }} text-right">{{ o_item.created_at_label }}</td>
    {% endcall %}
</div>

<div class="card-dashboard">
    <div class="card-title">
        <h2>Product Catalog</h2>
        {{ ui.plus_btn('products-entry-dashboard-btn') }}
        Last
        {% call ui.dropdown(d_products_params['range']) %}
            <button class="table-range" data-range="1" data-table="products">Today</button>
            <button class="table-range" data-range="7" data-table="products">7d</button>
            <button class="table-range" data-range="30" data-table="products">30d</button>
        {% endcall %}
        days
    </div>
    {% call(o_item, l_headers) ui.responsive_table('Product Catalog', l_product_headers, l_products_for_table, 'groceries', 'products', d_products_params, sortable=True) %}
        <td class="{{ l_headers[0].priority }}">{{ o_item.barcode_label }}</td>
        <td class="{{ l_headers[1].priority }}">{{ o_item.name }}</td>
        <td class="{{ l_headers[2].priority }} text-right">{{ o_item.category_label }}</td>
        <td class="{{ l_headers[3].priority }} text-right">{{ o_item.net_weight_label }}</td>
        <td class="{{ l_headers[4].priority }} text-right">{{ o_item.calories_label }}</td>
    {% endcall %}
</div>
{% endblock %}

{% block scripts %}{% endblock %}