
{% extends "base.html" %}

{% block title %}Groceries{% endblock %}


{% block sidebar_left %}
<div class="sidebar-container">
    <div class="sidebar-toggle" id="sidebar-toggle" data-tip="Open/close sidebar">
        <svg class="icon"><use href="#icon-sidebar"></use></svg>
    </div>
    <aside class="left-sidebar">
        <div class="data-sidebar">
            <div class="sidebar-section table-select">
                <h3>Select Table</h3>
                <button data-table="products">Products</button>
                <button data-table="transactions">Transactions</button>
                <button data-table="inventory">Inventory</button>
                <button data-table="ledger">Ledger</button>
            </div>
            <div class="sidebar-section defaults">
                <h3>Defaults:</h3>
                <div class="setting-row">
                    <p class="secondary">Table timeframe:</p>
                    <input type="number" min="1" max="365" value="30" id="default-timeframe">
                </div>
            </div>
        </div>
    </aside>
</div>
{% endblock %}

<!-- TODO: Move/add to the dropdown in table controls -->
<!-- <button id="transactions-entry-dashboard-btn">Add Transaction</button> -->
<!-- <button id="products-entry-dashboard-btn">Add Product</button> -->


{% block content %}

{{ forms.product_entry_modal(categories=ProductCategoryEnum, units=UnitEnum) }}
{{ forms.transaction_entry_modal(products_for_dropdown, categories=ProductCategoryEnum, units=UnitEnum) }}

<section class="card-dashboard">
    <div class="table-controls">

        <div class="search">
            <input type="search" placeholder="Search">
        </div>
        <div class="table-options">
            <button class="btn">CSV Import</button>
            <button class="btn btn-primary">+ Add</button>
        </div>
    </div>
    <table class="table-standard" id="my-table">
        <thead class="table-header"></thead>
        <tbody class="table-body"></tbody>
    </table>
</section>













{# TODO: Scrap this once we're good to go #}
{% if false %}
<div id="transactions" class="card-dashboard">
    <div class="card-title">
        <h2>Grocery - Recent Transactions</h2>
        {{ ui.plus_btn('transactions-entry-dashboard-btn') }}
        Last
        {% call ui.dropdown('ohhh', 'oh') %}
            <button class="table-range" data-range="1" data-table="transactions">Today</button>
            <button class="table-range" data-range="7" data-table="transactions">7d</button>
            <button class="table-range" data-range="30" data-table="transactions">30d</button>
        {% endcall %}
        days
    </div>
    {% call(item, headers) ui.responsive_table('Recent Transactions', transaction_headers, transactions_for_table, 'groceries', 'transactions') %}
    <td class="{{ headers[0].priority }}">{{ item.product_name }}</td>
    <td class="{{ headers[1].priority }} text-right">{{ item.price_label }}</td>
    <td class="{{ headers[2].priority }} text-right">{{ item.price_per_100g_label }}</td>
    <td class="{{ headers[3].priority }} text-right">{{ item.created_at_label }}</td>
    {% endcall %}
</div>

<div id="products" class="card-dashboard">
    <div class="card-title">
        <h2>Product Catalog</h2>
        {{ ui.plus_btn('products-entry-dashboard-btn') }}
        Last
        {% call ui.dropdown('ohhh', 'ohh') %}
            <button class="table-range" data-range="1" data-table="products">Today</button>
            <button class="table-range" data-range="7" data-table="products">7d</button>
            <button class="table-range" data-range="30" data-table="products">30d</button>
        {% endcall %}
        days
    </div>
    {% call(item, headers) ui.responsive_table('Product Catalog', product_headers, products_for_table, 'groceries', 'products') %}
        <td class="{{ headers[0].priority }}">{{ item.barcode_label }}</td>
        <td class="{{ headers[1].priority }}">{{ item.name }}</td>
        <td class="{{ headers[2].priority }} text-right">{{ item.category_label }}</td>
        <td class="{{ headers[3].priority }} text-right">{{ item.net_weight_label }}</td>
        <td class="{{ headers[4].priority }} text-right">{{ item.calories_label }}</td>
    {% endcall %}
</div>
{% endif %}

{% endblock %}