

{% extends "base.html" %}

{% block title %}Groceries - Recipes{% endblock %}

{% block sidebar_left %}
<div class="sidebar-container">
    <div class="sidebar-toggle" id="sidebar-toggle" data-tip="Open/close sidebar">
        <svg class="icon"><use href="#icon-sidebar"></use></svg>
    </div>
    <aside class="left-sidebar">
        <div class="sidebar-section">
            <a href="{{ url_for('groceries.recipes') }}" class="sidebar-option">Recipes</a>
            <button class="sidebar-option">
                <svg class="icon"><use href="#icon-search"></use></svg>
                <span class="sidebar-label">Recipes</span>
            </button>
            <button class="sidebar-option">
                <svg class="icon"><use href="#icon-search"></use></svg>
                <span class="sidebar-label">Shopping List</span>
            </button>
            <button class="sidebar-option">
                <svg class="icon"><use href="#icon-search"></use></svg>
                <span class="sidebar-label">Meals</span>
            </button>
        </div>
    </aside>
</div>
{% endblock %}

{% block content %}

{{ forms.recipe_entry_modal(products, units=mass_units) }}

<dialog id="recipe-detail-modal">
    <button type="button" aria-label="Close"
        class="btn-icon btn-round modal-close"
        id="recipe-detail-modal-close-btn"
    >
        {{ ui.x_svg() }}
    </button>

    <div class="top-section">
        <h1 class="recipe-header">HEADER</h1>
        <p class="recipe-metadata">description and stuff like that</p>
    </div>

    <div class="ingredients-col">
        <h2>Ingredients:</h2>
        <ul>
        </ul>
    </div>
    <div class="directions-col">
        <h2>Directions:</h2>
        <ol>
            <li>Do thing</li>
            <li>Cook it</li>
            <li>Cut it</li>
            <li>Eat it</li>
        </ol>
    </div>

</dialog>


<div class="all-recipes-grid card-dashboard" id="recipes-grid">
    <div class="card-title">
        <h1 class="all-recipes-header">Recipes:</h1>
        {{ ui.plus_btn('recipes-entry-dashboard-btn') }}
    </div>

    {% for recipe in recipes %}
    <div class="recipe-card" data-recipe-id="{{ recipe.id }}">
        <button class="dots-btn btn-icon btn-square js-recipe-options">
            {{ ui.ellipsis_svg() }}
        </button>
        <h3 class="recipe-name">{{ recipe.name }}</h3>
        <p class="recipe-metadata">
            {{ recipe.yields }}{{recipe.yields_units}} |
            ~30 min
        </p>
    </div>
    {% endfor %}
</div>

<template id="shopping-list-item-template">
    <li class="shopping-list-item" data-product-id="" data-item-id="">
        <button class="btn-icon btn-round inline-delete" data-action="delete"
            aria-label="Remove shopping list item"
        >
            {{ ui.x_svg() }}
        </button>
        <input type="number" min="1" value="" autocomplete="off">
        <label>
            <span class="item-name"></span>
            <span class="item-detail"></span>
        </label>
    </li>
</template>

<div class="card-dashboard">
    <div class="card-title">
        <h2>Shopping List</h2>
    </div>
    <ul class="shopping-list">
    {%- if shopping_list.items -%}
        {%- for item in shopping_list.items -%}
            <li class="shopping-list-item" data-product-id="{{ item.product_id }}" data-item-id="{{ item.id }}">
                <button class="btn-icon btn-round inline-delete" data-action="delete"
                    aria-label="Remove shopping list item"
                >
                    {{ ui.x_svg() }}
                </button>
                <input type="number" min="1" value="{{ item.quantity_wanted }}" autocomplete="off">
                <label>
                    <span class="item-name">{{ item.product.name }}</span>
                    <span class="item-detail">({{ item.product.net_weight|round }}{{ item.product.unit_type }})</span>
                </label>
            </li>
        {%- endfor -%}
    {%- endif -%}
    </ul>
</div>


{% endblock %}